force-app/main/default/flows/Check_Appeal_Status_and_Take_Action_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets canApplicationProcessingContinue to False.</description>
        <name>ResetVariableForContinuingApplicationProcessing</name>
        <label>Reset Variable for Continuing Application Processing</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>canApplicationProcessingContinue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetServiceCatalogRequestExtendedAttributeValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets AppealsFiledCount to the count of records in the Service Catalog Request Extended Attribute Values from Get Service Catalog Request Extended Attribute Values record collection.</description>
        <name>SetAppealsFiledCount</name>
        <label>Set Appeals Filed Count</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AppealsFiledCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetServiceCatalogRequestExtendedAttributeValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsAppealLimitExceeded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets canApplicationProcessingContinue to True.</description>
        <name>SetVariableToLetFlowContinue</name>
        <label>Set Variable to Let Flow Continue</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>canApplicationProcessingContinue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether appeals were filed for the application form by checking if AppealsFiledCount is greater than 0.</description>
        <name>AreAppealsFiledForApplicationForm</name>
        <label>Are Appeals Filed for Application Form?</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasAppealsFiled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceCatalogRequestId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceCatalogRequestExtendedAttributeStatusValue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the appeal limit has been exceeded or not by checking if AppealsFiledCount is greater than AppealLimit.</description>
        <name>IsAppealLimitExceeded</name>
        <label>Is Appeal Limit Exceeded?</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>WaitForAppealActionResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasExceededAppealLimit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AppealsFiledCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AppealLimit</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Service Catalog Extended Attribute Value Status is New</description>
        <name>IsServiceCatalogExtendedAttributeValueStatusNew</name>
        <label>Is Service Catalog Extended Attribute Value Status New?</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SvcCatalogExtendedAttrValueStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetServiceCatalogRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check Appeal Status and Take Action Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Appeal Status and Take Action Clone</label>
    <overriddenFlow>LsFinclAsst__CheckAppealStsAndTkActn</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the application form relation record with an Application Form ID matching ApplicationFormId. Stores the Reference Record ID of the result in the ProgramId variable.</description>
        <name>GetApplicationFormRelation</name>
        <label>Get Application Form Relation</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <object>ApplicationFormRelation</object>
        <outputAssignments>
            <assignToReference>ProgramId</assignToReference>
            <field>ReferenceRecordId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Most Recent Service Catalog Extended Attribute Values</description>
        <name>GetMostRecentServiceCatalogExtendedAttributeValues</name>
        <label>Get Most Recent Service Catalog Extended Attribute Values</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AreAppealsFiledForApplicationForm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ApplicationForm</stringValue>
            </value>
        </filters>
        <object>SvcCatalogReqExtdAttrVal</object>
        <outputAssignments>
            <assignToReference>ServiceCatalogRequestId</assignToReference>
            <field>SvcCatalogRequestId</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the program record with an ID matching ProgramId. Stores the Application Appeal Limit of the result in the AppealLimit variable.</description>
        <name>GetProgram</name>
        <label>Get Program</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetAppealsFiledCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProgramId</elementReference>
            </value>
        </filters>
        <object>Program</object>
        <outputAssignments>
            <assignToReference>AppealLimit</assignToReference>
            <field>ApplicationAppealLimit</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the service catalog request record with an ID matching ServiceCatalogRequestId. Stores the Case ID of the result in the CaseId variable.</description>
        <name>GetServiceCatalogRequest</name>
        <label>Get Service Catalog Request</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateServiceCatalogRequestExtendedAttributeValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCatalogRequestId</elementReference>
            </value>
        </filters>
        <object>SvcCatalogRequest</object>
        <outputAssignments>
            <assignToReference>CaseId</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Service Catalog Request Extended Attribute Status Value</description>
        <name>GetServiceCatalogRequestExtendedAttributeStatusValue</name>
        <label>Get Service Catalog Request Extended Attribute Status Value</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsServiceCatalogExtendedAttributeValueStatusNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SvcCatalogRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCatalogRequestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <object>SvcCatalogReqExtdAttrVal</object>
        <outputAssignments>
            <assignToReference>SvcCatalogExtendedAttrValueStatus</assignToReference>
            <field>TextValue</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Gets the service catalog request extended attribute value records with ReferenceRecordId matching applicationFormId and SvcCtlgItemAttrDeveloperName matching ApplicationForm. Stores the ID, service catalog request ID, and created date of the results in Service Catalog Request Extended Attribute Values from Get Service Catalog Request Extended Attribute Values.</description>
        <name>GetServiceCatalogRequestExtendedAttributeValues</name>
        <label>Get Service Catalog Request Extended Attribute Values</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApplicationFormRelation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ApplicationForm</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SvcCatalogReqExtdAttrVal</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SvcCatalogRequestId</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case records with an ID matching CaseID, setting the status to Closed.</description>
        <name>UpdateCaseStatus</name>
        <label>Update Case Status</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the service catalog extended attribute value records with SvcCatalogRequestId matching ServiceCatalogRequestId and SvcCtlgItemAttrDeveloperName equal to Status, setting TextValue to Rejected Timeout.</description>
        <name>UpdateServiceCatalogRequestExtendedAttributeValue</name>
        <label>Update Service Catalog Request Extended Attribute Value</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SvcCatalogRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceCatalogRequestId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SvcCtlgItemAttrDeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>TextValue</field>
            <value>
                <stringValue>Rejected Timeout</stringValue>
            </value>
        </inputAssignments>
        <object>SvcCatalogReqExtdAttrVal</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ResetVariableForContinuingApplicationProcessing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the appeal limit for a program.</description>
        <name>AppealLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the total number of appeals filed for a program.</description>
        <name>AppealsFiledCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the application form ID that was passed as an input to the flow.</description>
        <name>applicationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether the flow orchestrator should continue processing the application for the financial assistance program. This value is available as output from the flow.</description>
        <name>canApplicationProcessingContinue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the Case ID associated with the service catalog request record.</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the program ID of the application form.</description>
        <name>ProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Service Catalog Request ID of the latest services catalog extended attribute value.</description>
        <name>ServiceCatalogRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores Service Catalog Extended Attribute Value Status</description>
        <name>SvcCatalogExtendedAttrValueStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Pauses the flow until the Application Form Appeal Status Change Event response is received where the AppealStatus is either Accepted or Rejected. When there is no response the failure output variables are set and the flow ends.</description>
        <name>WaitForAppealActionResponse</name>
        <label>Wait for Appeal Action Response</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>IsAccepted</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>SetVariableToLetFlowContinue</targetReference>
            </connector>
            <eventType>ApplnFormAppealStsChgEvnt</eventType>
            <inputParameters>
                <name>ApplicationFormIdentifier</name>
                <value>
                    <elementReference>applicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AppealStatus</name>
                <value>
                    <stringValue>Accepted</stringValue>
                </value>
            </inputParameters>
            <label>Appeal Accepted</label>
        </waitEvents>
        <waitEvents>
            <name>IsRejected</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ResetVariableForContinuingApplicationProcessing</targetReference>
            </connector>
            <eventType>ApplnFormAppealStsChgEvnt</eventType>
            <inputParameters>
                <name>ApplicationFormIdentifier</name>
                <value>
                    <elementReference>applicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AppealStatus</name>
                <value>
                    <stringValue>Rejected</stringValue>
                </value>
            </inputParameters>
            <label>Appeal Rejected</label>
        </waitEvents>
        <waitEvents>
            <name>IsTimedOut</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetMostRecentServiceCatalogExtendedAttributeValues</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>ApplicationForm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>applicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>30.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Appeal Timed Out</label>
        </waitEvents>
    </waits>
</Flow>
