force-app/main/default/flows/Custom_Notification_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_custom_types</name>
        <label>Set custom types</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CustomTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_custom_types.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotificationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_custom_types.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_custom_types</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Custom Notification Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Notification Types</label>
    <loops>
        <name>Iterate_over_custom_types</name>
        <label>Iterate over custom types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Custom_Notfiication_Types</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_custom_types</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notfiication_Types</name>
        <label>Get Custom Notfiication Types</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_custom_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notfiication_Types</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CustomTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
