force-app/main/default/flows/Patient_Services_Process_Flow_Orchestration_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Verifies whether the program applicant has commercial health insurance by checking if the isInsuranceTypeCommercial is True.</description>
        <name>HasCommercialInsurance</name>
        <label>Has Commercial Insurance?</label>
        <locationX>534</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Is_Appeal_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HaveCommercialInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Benefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an appeal is applicable for the VerifyCommercialHealthInsurance, VerifyDrugBenefits, or VerifyProgramEligibility steps.</description>
        <name>Is_Appeal_Applicable</name>
        <label>Is Appeal Applicable?</label>
        <locationX>534</locationX>
        <locationY>1769</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsApplicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Verify_Drug_Benefits.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Verify_Drug_Benefits.Outputs.isBenefitVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Verify_Program_Eligibility.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Verify_Program_Eligibility.Outputs.isPatientEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appeal_Status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the program applicant has completed the benefits verification.</description>
        <name>Is_Benefits_Verification_Complete</name>
        <label>Is Benefits Verification Complete?</label>
        <locationX>369</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Is_Appeal_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>isComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Drug_Benefits.Outputs.isBenefitVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyEligibility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the program applicant passed all eligibility verifications that were performed in the Verify Eligibility stage. If you added verification steps to the Verify Eligibility stage, update this element to include the results of those steps.</description>
        <name>IsProgramApplicantEligible</name>
        <label>Is Program Applicant Eligible?</label>
        <locationX>215</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Is_Appeal_Applicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsEligibleProgramApplicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Program_Eligibility.Outputs.isPatientEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_of_Patient_Onboarding</name>
        <label>Stage of Patient Onboarding</label>
        <locationX>534</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CareProgramEnrollment</targetReference>
            </connector>
            <label>Enrollment</label>
        </rules>
        <rules>
            <name>Program_Eligibility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program Eligibility</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eligibility</targetReference>
            </connector>
            <label>Program Eligibility</label>
        </rules>
        <rules>
            <name>Benefits_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Health_Insurance</targetReference>
            </connector>
            <label>Benefits Verification</label>
        </rules>
        <rules>
            <name>Financial_Assistance_and_CoPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Assistance and CoPay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Assistance</targetReference>
            </connector>
            <label>Financial Assistance and CoPay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Patient Services Process - Flow Orchestration V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Services Process - Flow Orchestration V1</label>
    <orchestratedStages>
        <name>CareProgramEnrollment</name>
        <label>Enrollment</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Eligibility</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Patient_Services_Enrollment</name>
            <actionName>Patient_Services_Patient_Intake</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>All_Internal_Users</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CareProgramEnrolleeId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Patient Services Enrollment</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Check_Appeal_Status</name>
        <label>Check Appeal Status</label>
        <locationX>402</locationX>
        <locationY>1877</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>VerifyEligibility</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
    </orchestratedStages>
    <orchestratedStages>
        <name>Eligibility</name>
        <label>Eligibility</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Verify_Health_Insurance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Financial_Eligiblity</name>
            <actionName>Patient_Services_Financial_Eligibility</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>All_Internal_Users</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CareProgramEnrolleeId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Financial Eligiblity</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Financial_Assistance</name>
        <label>Financial Assistance</label>
        <locationX>754</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Provide_Financial_Assistance</name>
            <actionName>Patient_Services_Benefits_Calculation</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>All_Internal_Users</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Provide Financial Assistance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Update_Stage</name>
        <label>Update Stage</label>
        <locationX>83</locationX>
        <locationY>1343</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Financial_Assistance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Update_Status_to_Financial_Assistance</name>
            <actionName>Patient_Services_Update_Status_to_Financial_Assistance</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>All_Internal_Users</stringValue>
                </assignee>
                <assigneeType>Group</assigneeType>
            </assignees>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CareProgramEnrolleeId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>Update Status to Financial Assistance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Determines whether the prescribed drugs have been verified and are part of the financial assistance program.</description>
        <name>Verify_Benefits</name>
        <label>Verify Benefits</label>
        <locationX>369</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_Benefits_Verification_Complete</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies whether the program applicant has completed benefits verification for drugs that are a part of the financial assistance program.</description>
            <name>Verify_Drug_Benefits</name>
            <actionName>LsFinclAsst__CheckBenefitVerfStatus</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicant</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.applicant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>Get_Application_Form_Id.Outputs.ApplicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInsuranceTypeCommercial</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medicationRequestStatus</name>
                <value>
                    <stringValue>Active</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>memberPlanIds</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.commercialInsuranceMemberPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Drug Benefits</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Verify_Health_Insurance</name>
        <label>Verify Health Insurance</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>HasCommercialInsurance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Get_Application_Form_Id</name>
            <actionName>Patient_Services_Get_Application_Form_Id</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>CareProgramEnrolleeId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Get Application Form Id</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>VerifyCommercialHealthInsurance</name>
            <actionName>Verify_Insurance_Type_V2</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>Get_Application_Form_Id.Outputs.ApplicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orchestrationInstanceId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>StepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Commercial Health Insurance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Verifies whether the program applicant is eligible for the financial assistance program. If your process requires additional eligibility verifications, add more steps to perform them in this stage.</description>
        <name>VerifyEligibility</name>
        <label>Verify Eligibility</label>
        <locationX>215</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>IsProgramApplicantEligible</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies whether the program applicant is eligible for the financial assistance program.</description>
            <name>Verify_Program_Eligibility</name>
            <actionName>LsFinclAsst__CheckPatientEligibility</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicant</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.applicant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>Get_Application_Form_Id.Outputs.ApplicationFormId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>Verify_Drug_Benefits.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Program Eligibility</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_of_Patient_Onboarding</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </filters>
        <object>CareProgramEnrollee</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a sequential number that indicates which step within the orchestration is currently running.</description>
        <name>StepNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
