force-app/main/default/flows/Process_Electronic_Benefit_Verification_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action to get the benefit verification step details when an error occurs while sending a request to the clearinghouse.</description>
        <name>GetBenefitVerificationErrorDetails</name>
        <label>Get Benefit Verification Error Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>ClearingHouseRequestSendErrorTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to retry the save benefit verification progress details.</description>
        <name>RetrySaveBenefitVerification</name>
        <label>Retry Save Benefit Verification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <connector>
            <targetReference>WaitForPspRepToRetry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>RetryBenefitVerificationTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to save the verification steps using the CompletedTextTemplate, flowOrchestratorInstanceRelatedObjectId, careBenefitVerifyRequestId, and stepNumber variables.</description>
        <name>SaveBenefitVerificationProgressDetails</name>
        <label>Save Benefit Verification Progress Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>CompletedTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to save the verification steps using the InProgressTextTemplate, flowOrchestratorInstanceRelatedObjectId, careBenefitVerifyRequestId, and stepNumber variables.</description>
        <name>SaveBenefitVerificationProgressDetailsForRetry</name>
        <label>Save Benefit Verification Progress Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <connector>
            <targetReference>GetCareBenefitVerifyRequestStatusForRetry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>InProgressTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to save the verification steps using the InProgressTextTemplate, flowOrchestratorInstanceRelatedObjectId, careBenefitVerifyRequestId, and stepNumber variables.</description>
        <name>SaveBenefitVerificationProgressDetailsForRetryTerminated</name>
        <label>Save Benefit Verification Progress Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>FailedTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to save the benefit verification step details when the retry limit is exhausted.</description>
        <name>SaveBenefitVerificationRetryLimitExhaustedErrorDetails</name>
        <label>Save Benefit Verification Retry Limit Exhausted Error Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>InitiateManualVerificationTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to send an asynchronous request to MuleSoft with a unique GUID from the guidForMulesoft variable and a care benefit verification request ID passed into the flow.</description>
        <name>SendAsyncRequestToMuleSoft</name>
        <label>Send Request to MuleSoft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>industriesSendApexAsyncRequest</actionName>
        <actionType>industriesSendApexAsyncRequest</actionType>
        <connector>
            <targetReference>WaitforClearinghouseAcknowledgment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetBenefitVerificationErrorDetails</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RequestGuid</name>
            <value>
                <elementReference>guidForMulesoft</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IntegrationDefinition</name>
            <value>
                <stringValue>CHAPI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>InputRecordId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>industriesSendApexAsyncRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds one to the value of the curRetryCount variable.</description>
        <name>AddOneToCurrentRetryCount</name>
        <label>Add One to Current Retry Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurRetryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCareBenefitVerificationResponseName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the guidForMule variable to a unique value made by combining the flow’s interview ID with the current retry attempt number.</description>
        <name>SetGuidForMuleRequest</name>
        <label>Set GUID for MuleSoft Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>guidForMulesoft</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Flow.InterviewGuid}_{!CurRetryCount}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendAsyncRequestToMuleSoft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the isManualVerificationRequired variable to false.</description>
        <name>SetManualVerificationonAckSuccess</name>
        <label>Set Manual Verification on Ack Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isManualVerificationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WaitforClearinghouseResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the isManualVerificationRequired variable to false.</description>
        <name>SetManualVerificationToFalse</name>
        <label>Set Manual Verification to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isManualVerificationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveBenefitVerificationProgressDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the isManualVerificationRequired variable to true.</description>
        <name>SetManualVerificationToTrueRetryLimitExceeded</name>
        <label>Set Manual Verification to True after Retry Limit Exhausted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isManualVerificationRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveBenefitVerificationRetryLimitExhaustedErrorDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the isManualVerificationRequired variable to false and the isEndOrchestration variable to true.</description>
        <name>TerminateOrchestrationForRetry</name>
        <label>Terminate orchestration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isEndOrchestration</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveBenefitVerificationProgressDetailsForRetryTerminated</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BadInputError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BAD_INPUT</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text to be used as the default value to indicate that the clearing house response is received.</description>
        <name>ClearingHouseResponseReceived</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ClearingHouseResponseReceived</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text to be used as the default value to indicate that the clearing house response is timed out.</description>
        <name>ClearingHouseResponseTimedOut</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ClearingHouseResponseTimedOut</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>InvalidCredentialsError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>INVALID_CREDENTIALS</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether the Status field of the Care Benefit Verify Request record of GetCareBenefitVerifyResponseStatus is Error, Rejected, Verified, or TimedOut.</description>
        <name>CheckCareBenefitVerifyResponseStatus</name>
        <label>Check Care Benefit Verify Response Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyResponseStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>UpdateCareBenefitVerifyRequestStatusError</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>IsRejectedOrIsTimedOut</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyResponseStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyResponseStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TimedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCareBenefitVerifyRequestVerificationModetoManual</targetReference>
            </connector>
            <label>Rejected Or TimedOut</label>
        </rules>
        <rules>
            <name>IsVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyResponseStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetManualVerificationToFalse</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the ResponseName field of the Care Benefit Verify Request record in  GetCareBenefitVerificationResponseName is BAD_INPUT or INVALID_CREDENTIALS.</description>
        <name>CheckResponse</name>
        <label>Check Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetGuidForMuleRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsAnotherError (Default)</defaultConnectorLabel>
        <rules>
            <name>IsBadInputOrInvalidCreds</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerificationResponseName.ResponseName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BAD_INPUT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCareBenefitVerificationResponseName.ResponseName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVALID_CREDENTIALS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetrySaveBenefitVerification</targetReference>
            </connector>
            <label>Bad Input or Invalid Credentials</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the current retry count is less than the maximum allowed retry count.</description>
        <name>IsRetryLimitExhausted</name>
        <label>Is Retry Limit Exhausted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateCareBenefitVerifyRequestStatusError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>IsNotExhausted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurRetryCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxRetryCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOneToCurrentRetryCount</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Status of the Care Benefit Verify Request record of GetCareBenefitVerifyRequestStatus is Acknowledged.</description>
        <name>IsStatusAcknowledged</name>
        <label>Is Status Acknowledged?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsRetryLimitExhausted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Case (Default)</defaultConnectorLabel>
        <rules>
            <name>IsAcknowledged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Benefit_Verify_Request_Status.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetManualVerificationonAckSuccess</targetReference>
            </connector>
            <label>Acknowledged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Status of the Care Benefit Verify Request record of GetCareBenefitVerifyRequestStatusForRetry is Acknowledged.</description>
        <name>IsStatusAcknowledgedForRetry</name>
        <label>Is Status Acknowledged?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAcknowledgedForRetry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyRequestStatusForRetry.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>WaitforClearinghouseResponse</targetReference>
            </connector>
            <label>Acknowledged</label>
        </rules>
        <rules>
            <name>IsErrorForRetry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCareBenefitVerifyRequestStatusForRetry.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>IsRetryLimitExhausted</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndIndexOfAttributeValueFormula</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;\&quot;&quot;, {!ResponsePayload}, {!AttributeValueStartIndex}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ExtractValueForKeyFormula</name>
        <dataType>String</dataType>
        <expression>MID({!ResponsePayload}, {!AttributeValueStartIndex}+1, {!AttributeValueEndIndex}-{!AttributeValueStartIndex}-1)</expression>
    </formulas>
    <formulas>
        <name>StartIndexOfAttributeValueFormula</name>
        <dataType>Number</dataType>
        <expression>FIND(&quot;\&quot;&quot;, {!ResponsePayload}, FIND(&quot;\&quot;&quot; &amp; {!AttributeKey} &amp; &quot;\&quot;&quot;, {!ResponsePayload}) + LEN({!AttributeKey})+2)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Process Electronic Benefit Verification Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Electronic Benefit Verification Clone</label>
    <overriddenFlow>BnftVerfAgnt__ProcessElecBnftVerf</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Care Benefit Verify Request record with an ID that matches the careBenefitVerifyRequestId variable. Stores the ID and Status in the Care Benefit Verify Request from GetCareBenefitVerifyRequestStatus record variable.</description>
        <name>Get_Care_Benefit_Verify_Request_Status</name>
        <label>Get Care Benefit Verify Request Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStatusAcknowledged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareBenefitVerifyRequest</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Care Benefit Verify Request record with an ID that matches the careBenefitVerifyRequestId variable. Stores the ID, ResponseName, and the ResponseBody of the result in the Care Benefit Verify Request from GetCareBenefitVerificationResponseName record variable.</description>
        <name>GetCareBenefitVerificationResponseName</name>
        <label>Get Care Benefit Verification Response Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckResponse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareBenefitVerifyRequest</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResponseName</queriedFields>
        <queriedFields>ResponseBody</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Care Benefit Verify Request record with an ID that matches the careBenefitVerifyRequestId variable. Stores the ID and Status of the result in the Care Benefit Verify Request from GetCareBenefitVerifyRequestStatusForRetry record variable.</description>
        <name>GetCareBenefitVerifyRequestStatusForRetry</name>
        <label>Get Care Benefit Verify Request Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStatusAcknowledgedForRetry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareBenefitVerifyRequest</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Care Benefit Verify Response record with an ID that matches the careBenefitVerifyRequestId variable. Stores the ID and Status of the result in the Care Benefit Verify Request from GetCareBenefitVerifyResponseStatus record variable.</description>
        <name>GetCareBenefitVerifyResponseStatus</name>
        <label>Get Care Benefit Verify Response Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCareBenefitVerifyResponseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareBenefitVerifyRequest</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Care Benefit Verify Request record with an ID that matches the ID passed into the flow, setting the Status field to Error and the Status Reason field to the message in ErrorInClearingHouseRequestTextTemplate. The Verification Mode field is set to Manual.</description>
        <name>UpdateCareBenefitVerifyRequestStatusError</name>
        <label>Update Care Benefit Verify Request Status to Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetManualVerificationToTrueRetryLimitExceeded</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetManualVerificationToTrueRetryLimitExceeded</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusReason</field>
            <value>
                <elementReference>ErrorInClearingHouseRequestTextTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VerificationMode</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <object>CareBenefitVerifyRequest</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Care Benefit Verify Request record with an ID that matches the ID passed into the flow, setting the  Status to TimedOut.</description>
        <name>UpdateCareBenefitVerifyRequestStatustoTimedOut</name>
        <label>Update Care Benefit Verify Request Status to TimedOut</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCareBenefitVerifyResponseStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>TimedOut</stringValue>
            </value>
        </inputAssignments>
        <object>CareBenefitVerifyRequest</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Care Benefit Verify Request record with an ID that matches the ID passed into the flow, setting the  Verification Mode field is set to Manual.</description>
        <name>UpdateCareBenefitVerifyRequestVerificationModetoManual</name>
        <label>Update Care Benefit Verify Request Verification Mode to Manual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SetManualVerificationToTrueRetryLimitExceeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VerificationMode</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <object>CareBenefitVerifyRequest</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetGuidForMuleRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the body of the text template, notifying the running user that an error has occurred while sending a request to the clearinghouse.</description>
        <name>ClearingHouseRequestSendErrorTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Failed::Error while sending request to Clearing House</text>
    </textTemplates>
    <textTemplates>
        <name>ClearingHouseResponseTimedoutTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Completed::Electronic verification failed. Initiating manual verification request.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the body of the text template for the benefit verification Completed message.</description>
        <name>CompletedTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Completed::</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the body of the text template for an error in the clearinghouse request.</description>
        <name>ErrorInClearingHouseRequestTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Initiate eBV request to Clearing House Failed.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the body of the text template for the benefit verification failed message.</description>
        <name>FailedTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Failed::Initiate a new verification request.</text>
    </textTemplates>
    <textTemplates>
        <name>InitiateManualVerificationTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Completed::Electronic verification failed. Initiating manual verification.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the body of the text template for the benefit verification in-progress message.</description>
        <name>InProgressTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>InProgress::</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the body of the text template for the electronic benefit verification retry message.</description>
        <name>RetryBenefitVerificationTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Waiting::Fix the errors, and retry electronic verification.</text>
    </textTemplates>
    <variables>
        <description>Stores the AsyncRequestResponseEvent record that is returned from the platform event when the Request GUID matches the guidForMulesoft variable for the current flow.</description>
        <name>AsynchronousResponse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AsyncRequestResponseEvent</objectType>
    </variables>
    <variables>
        <name>AttributeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AttributeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AttributeValueEndIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AttributeValueStartIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores Care Benefit Verify Request input record</description>
        <name>careBenefitVerifyRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CareBenefitVerifyRequest</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the Care Benefit Verify Request record that is passed into the flow.</description>
        <name>careBenefitVerifyRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CBVRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClearingHouseResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current count of retry attempts for sending the request to MuleSoft.</description>
        <name>CurRetryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the related object for the flow orchestrator instance.</description>
        <name>flowOrchestratorInstanceRelatedObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the unique GUID for the request that is sent to MuleSoft.</description>
        <name>guidForMulesoft</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isEndOrchestration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isManualVerificationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the maximum number of retry attempts for sending the request to MuleSoft.</description>
        <name>MaxRetryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ResponsePayload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the step number of the benefit verification process that is passed into the flow.</description>
        <name>stepNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <waits>
        <description>Pauses the flow until an asynchronous request response event is received from the Clearing House, where the event’s Request GUID matches the guidForMulesoft variable. If there&apos;s no response, the flow times out one hour after the flow run starts. To change the timeout period, update the Time Offset and Time Offset Unit fields in the Timeout configuration. The default path ends the flow.</description>
        <name>WaitforClearinghouseAcknowledgment</name>
        <label>Wait for Clearinghouse Acknowledgment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>IsClearingHouseAcknowledgmentReceived</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Care_Benefit_Verify_Request_Status</targetReference>
            </connector>
            <eventType>AsyncRequestResponseEvent</eventType>
            <inputParameters>
                <name>RequestGuid</name>
                <value>
                    <elementReference>guidForMulesoft</elementReference>
                </value>
            </inputParameters>
            <label>Clearing House Acknowledgment Received</label>
            <outputParameters>
                <assignToReference>AsynchronousResponse</assignToReference>
                <name>AsyncRequestResponseEvent</name>
            </outputParameters>
        </waitEvents>
        <waitEvents>
            <name>IsResponseTimeout</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>IsRetryLimitExhausted</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Response Timeout</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Pauses the flow until a platform event is received where the Record Identifier matches careBenefitVerifyRequestId, the Status matches either the value of ClearingHouseResponseReceived or ClearingHouseResponseTimedOut constant variables, or a time limit of 4 hours is exceeded. If no event is received or the time limit is exceeded, the flow proceeds to GetCareBenefitVerifyRequestStatus.</description>
        <name>WaitforClearinghouseResponse</name>
        <label>Wait for Clearinghouse Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetCareBenefitVerifyResponseStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>IsClearinghouseResponseReceived</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCareBenefitVerifyResponseStatus</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>ClearingHouseResponseReceived</elementReference>
                </value>
            </inputParameters>
            <label>Clearing House Response Received</label>
        </waitEvents>
        <waitEvents>
            <name>IsClearingHouseResponseTimeout</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>GetCareBenefitVerifyResponseStatus</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>ClearingHouseResponseTimedOut</elementReference>
                </value>
            </inputParameters>
            <label>Clearing House Response Timeout</label>
        </waitEvents>
        <waitEvents>
            <name>IsTimedLimitExceeded</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>UpdateCareBenefitVerifyRequestStatustoTimedOut</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Timed Limit Exceeded</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Pauses the flow until a platform event is received where the RecordIdentifier matches careBenefitVerifyRequestId and the Status is ElectronicVerificationRetried. If no event is received, the flow proceeds after 10 days and terminates the orchestration.</description>
        <name>WaitForPspRepToRetry</name>
        <label>Wait for PSP Rep to Retry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Path (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>IsElectronicVerificationRetried</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>SaveBenefitVerificationProgressDetailsForRetry</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <stringValue>ElectronicVerificationRetried</stringValue>
                </value>
            </inputParameters>
            <label>Electronic Verification Retried</label>
        </waitEvents>
        <waitEvents>
            <name>IsRetryTimedOut</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>TerminateOrchestrationForRetry</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Retry Timed Out</label>
        </waitEvents>
    </waits>
</Flow>
