force-app/main/default/flows/Process_Application_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Verifies whether the program applicant has commercial health insurance by checking if the isInsuranceTypeCommercial is True.</description>
        <name>HasCommercialInsurance</name>
        <label>Has Commercial Insurance?</label>
        <locationX>589</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>IsAppealApplicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HaveCommercialInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyBenefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an appeal is applicable for the VerifyCommercialHealthInsurance, VerifyDrugBenefits, or VerifyProgramEligibility steps.</description>
        <name>IsAppealApplicable</name>
        <label>Is Appeal Applicable?</label>
        <locationX>1128</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsApplicable</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyDrugBenefits.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyDrugBenefits.Outputs.isBenefitVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyProgramEligibility.Outputs.isAppealApplicable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyProgramEligibility.Outputs.isPatientEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAppealStatus</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the program applicant was assigned to the financial assistance program.</description>
        <name>IsBenefitAssignmentDone</name>
        <label>Is Benefits Assignment Done?</label>
        <locationX>391</locationX>
        <locationY>1661</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsBenefitsAssignmentSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculateAndAssignBenefit.Outputs.benefitAssignmenttId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisburseBenefits</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the program applicant has completed the benefits verification.</description>
        <name>IsBenefitsVerificationComplete</name>
        <label>Is Benefits Verification Complete?</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsAppealApplicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyDrugBenefits.Outputs.isBenefitVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyEligibility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the program applicant passed all eligibility verifications that were performed in the Verify Eligibility stage. If you added verification steps to the Verify Eligibility stage, update this element to include the results of those steps.</description>
        <name>IsProgramAppliantEligible</name>
        <label>Is Program Applicant Eligible?</label>
        <locationX>589</locationX>
        <locationY>1445</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>IsAppealApplicable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsEligibleProgramApplicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyProgramEligibility.Outputs.isPatientEligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalculateBenefit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether verification steps should be triggered again.</description>
        <name>ShouldTriggerVerificationStepsAgain</name>
        <label>Should Trigger Verification Steps Again?</label>
        <locationX>886</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ShouldTriggerVerification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckAppealStsAndTkActn.Outputs.canApplicationProcessingContinue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhichStepToTrigger</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines which step needs to be triggered again.</description>
        <name>WhichStepToTrigger</name>
        <label>Which Step to Trigger?</label>
        <locationX>666</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>VerifyEligibility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Patient Eligibility</defaultConnectorLabel>
        <rules>
            <name>CommercialInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>VerifylHealthInsurance</targetReference>
            </connector>
            <label>Commercial Insurance</label>
        </rules>
        <rules>
            <name>BenefitsVerification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerifyDrugBenefits.Outputs.isBenefitVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>VerifyBenefits</targetReference>
            </connector>
            <label>Benefits Verification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Process Application for Financial Assistance Program Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Application for Financial Assistance Program Clone</label>
    <orchestratedStages>
        <description>Calculates and assigns benefits to the program applicant.</description>
        <name>CalculateBenefit</name>
        <label>Calculate Benefits</label>
        <locationX>391</locationX>
        <locationY>1553</locationY>
        <connector>
            <targetReference>IsBenefitAssignmentDone</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Calculates and assigns the financial assistance program benefits to the program applicant.</description>
            <name>CalculateAndAssignBenefit</name>
            <actionName>LsFinclAsst__CalcAndAssignBenefits</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequests</name>
                <value>
                    <elementReference>VerifyDrugBenefits.Outputs.careBenefitVerifyRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careProgramEnrolleeId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.applicant.CareProgramEnrollee.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productIds</name>
                <value>
                    <elementReference>VerifyDrugBenefits.Outputs.productIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>programId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.programId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>VerifyProgramEligibility.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Calculate and Assign Benefits</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Determines the status of an appeal, and takes the necessary actions accordingly.</description>
        <name>CheckAppealStatus</name>
        <label>Check Appeal Status</label>
        <locationX>886</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>ShouldTriggerVerificationStepsAgain</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies if an appeal is approved, rejected, or has timed out, and takes the necessary actions accordingly.</description>
            <name>CheckAppealStsAndTkActn</name>
            <actionName>LsFinclAsst__CheckAppealStsAndTkActn</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Check Appeal Status and Take Action</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Calculates the benefits and disburses it to the program applicant.</description>
        <name>DisburseBenefits</name>
        <label>Disburse Benefits</label>
        <locationX>259</locationX>
        <locationY>1769</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Calculates and disburses financial assistance program benefits to the program applicant.</description>
            <name>CalculateAndDisburseProgramBenefits</name>
            <actionName>LsFinclAsst__DisburseBenefits</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Benefit</name>
                <value>
                    <elementReference>CalculateAndAssignBenefit.Outputs.benefit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>benefitAssignmentId</name>
                <value>
                    <elementReference>CalculateAndAssignBenefit.Outputs.benefitAssignmenttId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>outOfPocketExpense</name>
                <value>
                    <elementReference>CalculateAndAssignBenefit.Outputs.outOfPocketExpense</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>CalculateAndAssignBenefit.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Calculate and Disburse Program Benefits</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Determines whether the prescribed drugs have been verified and are part of the financial assistance program.</description>
        <name>VerifyBenefits</name>
        <label>Verify Benefits</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>IsBenefitsVerificationComplete</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies whether the program applicant has completed benefits verification for drugs that are a part of the financial assistance program.</description>
            <name>VerifyDrugBenefits</name>
            <actionName>LsFinclAsst__CheckBenefitVerfStatus</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicant</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.applicant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInsuranceTypeCommercial</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.isInsuranceTypeCommercial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>medicationRequestStatus</name>
                <value>
                    <stringValue>Active</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>memberPlanIds</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.commercialInsuranceMemberPlanIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Drug Benefits</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Verifies whether the program applicant is eligible for the financial assistance program. If your process requires additional eligibility verifications, add more steps to perform them in this stage.</description>
        <name>VerifyEligibility</name>
        <label>Verify Eligibility</label>
        <locationX>589</locationX>
        <locationY>1337</locationY>
        <connector>
            <targetReference>IsProgramAppliantEligible</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies whether the program applicant is eligible for the financial assistance program.</description>
            <name>VerifyProgramEligibility</name>
            <actionName>LsFinclAsst__CheckPatientEligibility</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicant</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.applicant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchInstRelaObjId</name>
                <value>
                    <elementReference>VerifyCommercialHealthInsurance.Outputs.flowOrchInstRelaObjId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>VerifyDrugBenefits.Outputs.stepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Program Eligibility</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Verifies whether the program applicant has health insurance.</description>
        <name>VerifylHealthInsurance</name>
        <label>Verify Health Insurance</label>
        <locationX>589</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>HasCommercialInsurance</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Verifies whether the program applicant has commercial health insurance.</description>
            <name>VerifyCommercialHealthInsurance</name>
            <actionName>LsFinclAsst__VerifyInsuranceType</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>applicationFormId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orchestrationInstanceId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <elementReference>StepNumber</elementReference>
                </value>
            </inputParameters>
            <label>Verify Commercial Health Insurance</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <overriddenFlow>LsFinclAsst__ProcApplnFinclAsstPgm</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>463</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifylHealthInsurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UsageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FinancialAssistanceProgram</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>ApplicationForm</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a sequential number that indicates which step within the orchestration is currently running.</description>
        <name>StepNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
