force-app/main/default/flows/PSP_TEST_ALESHA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether a new work order was created in StartNextTherapyWorkOrder.</description>
        <name>IsTherapyComplete</name>
        <label>Is Therapy Complete?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Milestone_1_Steps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsComplete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Processes care program enrollee work items for diabetes support program</description>
    <environments>Default</environments>
    <interviewLabel>$Label.ATMOrchFlow.FlowLabel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSP TEST ALESHA</label>
    <orchestratedStages>
        <description>Contains the step to complete the current therapy work order for a care program enrollee.</description>
        <name>CompleteCurrentTherapyWorkOrder</name>
        <label>Complete Current Therapy Work Order</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Start_Diabetes_Program</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Completes the current therapy work order.</description>
            <name>CompleteTherapyWorkOrder</name>
            <actionName>healthcloud_ato_flows__EndTStage</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>currentWorkOrderId</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Milestone_1_Steps</name>
        <label>Milestone 1 Steps</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>CompleteCurrentTherapyWorkOrder</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Initiates the first therapy work order step for the current work order and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep1</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the first therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep1</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep1.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep1.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep1.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 1</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the second therapy work order step for the current work order when CompleteTherapyWorkOrderStep1 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep2</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep1.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the third therapy work order step for the current work order when CompleteTherapyWorkOrderStep2 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep3</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep2.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the second therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep2</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep2.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep2.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep2.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 2</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the third therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep3</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep3.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep3.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep3.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 3</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the fourth therapy work order step for the current work order when CompleteTherapyWorkOrderStep3 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep4</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep3.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 4</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the fourth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep4</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep4.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep4.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep4.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 4</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the fifth therapy work order step for the current work order when CompleteTherapyWorkOrderStep4 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep5</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep4.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 5</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the fifth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep5</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep5.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep5.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep5.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 5</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the sixth therapy work order step for the current work order when CompleteTherapyWorkOrderStep5 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep6</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep5.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 6</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the sixth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep6</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep6.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep6.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep6.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 6</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the seventh therapy work order step for the current work order when CompleteTherapyWorkOrderStep6 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep7</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep6.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 7</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the seventh therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep7</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep7.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep7.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep7.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 7</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the eighth therapy work order step for the current work order when CompleteTherapyWorkOrderStep7 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep8</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep7.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>8.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 8</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the eighth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep8</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep8.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep8.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep8.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 8</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the ninth therapy work order step for the current work order when CompleteTherapyWorkOrderStep8 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep9</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep8.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 9</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the ninth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep9</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep9.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep9.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep9.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 9</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Initiates the tenth therapy work order step for the current work order when CompleteTherapyWorkOrderStep9 is completed, and returns the therapy work order step record ID.</description>
            <name>StartTherapyWorkOrderStep10</name>
            <actionName>healthcloud_ato_flows__StartTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>CompleteTherapyWorkOrderStep9.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>currentSequenceNumber</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workOrderID</name>
                <value>
                    <elementReference>Start_Diabetes_Support_Program.Outputs.newWorkOrderId</elementReference>
                </value>
            </inputParameters>
            <label>Start Therapy Work Order Step 10</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Completes the tenth therapy work order step for the current work order when the step or all its assessment tasks are complete.</description>
            <name>CompleteTherapyWorkOrderStep10</name>
            <actionName>healthcloud_ato_flows__EndTStep</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryActionInputParameters>
                <name>associatedOrchestrationStepStatus</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep10.Status</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionInputParameters>
                <name>currentWorkOrderStepId</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep10.Outputs.workOrderStepId</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>healthcloud_ato_flows__CheckAllTask</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>workOrderStepID</name>
                <value>
                    <elementReference>StartTherapyWorkOrderStep10.Outputs.workOrderStepId</elementReference>
                </value>
            </inputParameters>
            <label>Complete Therapy Work Order Step 10</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Contains the step to start the next therapy work order for a care program enrollee.</description>
        <name>Start_Diabetes_Program</name>
        <label>Start Diabetes Program</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>IsTherapyComplete</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Identifies and starts the patient support program for the care program enrollee.</description>
            <name>Start_Diabetes_Support_Program</name>
            <actionName>healthcloud_ato_flows__StartTStage</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>enrolleeId</name>
                <value>
                    <elementReference>enrolleeId</elementReference>
                </value>
            </inputParameters>
            <label>Start Diabetes  Support Program</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>healthcloud_ato_flows__ATMOrch</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Diabetes_Program</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the record ID of the care program enrollee passed into the orchestration.</description>
        <name>enrolleeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
