force-app/main/default/flows/Publish_Care_Benefit_Verify_Request_Status_Change_Event_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the text value of the event status when the assessment is sent to the patient. The default value is AssessmentSentToPatient.</description>
        <name>AssessmentSentToPatientEventStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AssessmentFormSentToPatient</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text value of the event status when ‌the response is received from the clearing house. The default value is ClearingHouseResponseReceived.</description>
        <name>ClearingHouseResponseReceivedEventStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ClearingHouseResponseReceived</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text value of the event status when the patient’s details are updated. The default value is PatientDetailsUpdated.</description>
        <name>PatientDetailsUpdatedEventStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PatientAssessmentResponseUpdatedToRecords</stringValue>
        </value>
    </constants>
    <customErrors>
        <description>Sets the error message that the flow returns when there’s an error creating the care benefit verify request status changed event record.</description>
        <name>SetErrorMessageAssessmentSentToPatientEventStatus</name>
        <label>Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!CreateCBVRStatusUpdateEventErrorTextTemplate}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Sets the error message that the flow returns when there’s an error creating the care benefit verify request status changed event record.</description>
        <name>SetErrorMessageClearingHouseResponseReceivedEventStatus</name>
        <label>Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!CreateCBVRStatusUpdateEventErrorTextTemplate}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>Sets the error message that the flow returns when there’s an error creating the care benefit verify request status changed event record.</description>
        <name>SetErrorMessagePatientDetailsUpdatedEventStatus</name>
        <label>Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!CreateCBVRStatusUpdateEventErrorTextTemplate}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Determines the status of a patient’s personal and healthcare details, and benefits details by checking the value of the Status field of the triggering record.</description>
        <name>WhatIsTheStatusOfPatientAndBenefitsDetails</name>
        <label>What Is the Status of Patient and Benefits Details?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other (Default)</defaultConnectorLabel>
        <rules>
            <name>PatientDetailsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReadyForVerification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedCareBnftVerifyRequestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCareBenefitVerifyRequestStatusChangedEventPatientDetailsUpdatedEventStatus</targetReference>
            </connector>
            <label>Patient Details Updated</label>
        </rules>
        <rules>
            <name>ClearingHouseResponseReceived</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TimedOut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedCareBnftVerifyRequestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCareBenefitVerifyRequestStatusChangedEvent</targetReference>
            </connector>
            <label>Clearing House Response Received</label>
        </rules>
        <rules>
            <name>Pending_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PendingConfirmation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedCareBnftVerifyRequestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCareBenefitVerifyRequestStatusChangedEventPatientResponse</targetReference>
            </connector>
            <label>Pending Confirmation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Publish Care Benefit Verify Request Status Change Event Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Care Benefit Verify Request Status Change Event Clone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a care benefit verify request status changed event record, setting the Record Identifier to Care Benefit Verify Request ID, and status to ClearingHouseResponseReceivedEventStatus.</description>
        <name>CreateCareBenefitVerifyRequestStatusChangedEvent</name>
        <label>Create Care Benefit Verify Request Status Changed Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>SetErrorMessageClearingHouseResponseReceivedEventStatus</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordIdentifier</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>ClearingHouseResponseReceivedEventStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CareBnftVrfyRqstStsChgEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a care benefit verify request status changed event record, setting the Record Identifier to Care Benefit Verify Request ID, and status to PatientDetailsUpdatedEventStatus.</description>
        <name>CreateCareBenefitVerifyRequestStatusChangedEventPatientDetailsUpdatedEventStatus</name>
        <label>Create Care Benefit Verify Request Status Changed Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>SetErrorMessagePatientDetailsUpdatedEventStatus</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordIdentifier</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>PatientDetailsUpdatedEventStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CareBnftVrfyRqstStsChgEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a care benefit verify request status changed event record, setting the Record Identifier to Care Benefit Verify Request ID, and status to AssessmentSentToPatientEventStatus.</description>
        <name>CreateCareBenefitVerifyRequestStatusChangedEventPatientResponse</name>
        <label>Create Care Benefit Verify Request Status Changed Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>SetErrorMessageAssessmentSentToPatientEventStatus</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordIdentifier</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>AssessmentSentToPatientEventStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CareBnftVrfyRqstStsChgEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <sourceTemplate>BnftVerfAgnt__PubCrBnftVrfyRqstStsChg</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhatIsTheStatusOfPatientAndBenefitsDetails</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ReadyForVerification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TimedOut</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PendingConfirmation</stringValue>
            </value>
        </filters>
        <object>CareBenefitVerifyRequest</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text template that contains the message that’s displayed to the flow user when there’s an error creating the care benefit verify request status changed event record.</description>
        <name>CreateCBVRStatusUpdateEventErrorTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Something went wrong and we couldn’t create the care benefit verify request status changed event record.</text>
    </textTemplates>
</Flow>
