force-app/main/default/flows/RandomizationScreen1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assign_Candidate_to_Research_Study_Group_Action_1</name>
        <label>Assign Candidate to Research Study Group Action 1</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <actionName>assignCndtToResearchStudyGroup</actionName>
        <actionType>assignCndtToResearchStudyGroup</actionType>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assigning_error_message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>researchStudyCandidateId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>assignCndtToResearchStudyGroup</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PlanSourceIdentifierID_to_RecordID</name>
        <label>Assign PlanSourceIdentifierID to RecordID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planSourceIdentifierId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_error_message</name>
        <label>Assigning error message</label>
        <locationX>490</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>errorinfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_PlanSourceIdentifierId_same_as_ResearchStudyCandidateID</name>
        <label>Is PlanSourceIdentifierId a ResearchStudyCandidateID</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlanSourceIdentifierId_a_ResearchStudyCandidateID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planSourceIdentifierId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>planSourceIdentifierId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7ev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PlanSourceIdentifierID_to_RecordID</targetReference>
            </connector>
            <label>PlanSourceIdentifierId a ResearchStudyCandidateID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RandomizationScreen1 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>University of Florida - Randomization Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Candidate Status</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enrolled</stringValue>
            </value>
        </inputAssignments>
        <object>ResearchStudyCandidate</object>
    </recordUpdates>
    <screens>
        <name>errorinfo</name>
        <label>errorinfo</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!errorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Info</name>
        <label>Info</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Candidate_to_Research_Study_Group_Action_1</targetReference>
        </connector>
        <fields>
            <name>Randomization</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Randomization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>display: block; padding: 0; margin-left: auto; margin-right: auto; width: 50%;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>infoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(11, 11, 12);&quot;&gt;Please click next to start &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(12, 118, 199);&quot;&gt;Randomization&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(11, 11, 12);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(11, 11, 12);&quot;&gt;process for this Candidate.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_img</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>display: block; padding: 0; margin-left: auto; margin-right: auto; width: 50%;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Result_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(11, 11, 11);&quot;&gt;Randomization process &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(7, 131, 54);&quot;&gt;successful&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(6, 157, 64);&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_PlanSourceIdentifierId_same_as_ResearchStudyCandidateID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>planSourceIdentifierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
