force-app/main/default/flows/Reverify_Benefits_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether the patient&apos;s details are updated by checking if the canResumeEvent is True.</description>
        <name>ArePatientDetailsUpdated</name>
        <label>Are Patient Details Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>PatientDetailsUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SendEmailToPatient.Outputs.canResumeEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WaitForPatientResponse.Outputs.canResumeEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdatePatientDetails.Outputs.canResumeEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsVerificationModeElectronic</targetReference>
            </connector>
            <label>Patient Details Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the verification mode is electronic by checking if the Verification Mode field of the triggering care benefit verify request record is Electronic.</description>
        <name>IsVerificationModeElectronic</name>
        <label>Is Verification Mode Electronic?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ProcessManualVerificationRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Electronic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VerificationMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcessElectronicVerificationRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the verification mode is manual by checking if the Verification Mode field of the triggering care benefit verify request record is Manual, or if the hasAllValidationsPassed is False.</description>
        <name>IsVerificationModeManual</name>
        <label>Is Verification Mode Manual?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Manual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isManualVerificationRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateEssentialBenefits.Outputs.hasAllValidationsPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcessManualVerificationRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reverify Benefits Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reverify Benefits Clone</label>
    <orchestratedStages>
        <description>Processes an electronic benefits verification request and shares the patient&apos;s benefits summary with the healthcare professional.</description>
        <name>ProcessElectronicVerificationRequest</name>
        <label>Process Electronic Verification Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsVerificationModeManual</targetReference>
        </connector>
        <exitConditionLogic>(1 OR 2 OR 3) OR (4 AND 5 AND 6 AND 7)</exitConditionLogic>
        <exitConditions>
            <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isManualVerificationRequired</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isEndOrchestration</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>ValidateEssentialBenefits.Outputs.hasAllValidationsPassed</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isManualVerificationRequired</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isEndOrchestration</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>ValidateEssentialBenefits.Outputs.hasAllValidationsPassed</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>SendEmailToHealthcareProfessional.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <description>Initiates an electronic benefits verification request.</description>
            <name>InitiateElectronicVerificationRequest</name>
            <actionName>BnftVerfAgnt__ProcessElecBnftVerf</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequest</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <label>Initiate Electronic Verification Request</label>
            <outputConfigParams>
                <name>isEndOrchestration</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>isManualVerificationRequired</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Validates if all the essential benefits details are present in the payor response.</description>
            <name>ValidateEssentialBenefits</name>
            <actionName>BnftVerfAgnt__VldEsnlCrLmtTyp</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isManualVerificationRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>InitiateElectronicVerificationRequest.Outputs.isEndOrchestration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <label>Validate Essential Benefits</label>
            <outputConfigParams>
                <name>hasAllValidationsPassed</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>MissingMandatoryDataList</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Sends an email including the patient benefits summary to the healthcare professional.</description>
            <name>SendEmailToHealthcareProfessional</name>
            <actionName>BnftVerfAgnt__SendBenSummaryEmail</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>ValidateEssentialBenefits.Outputs.hasAllValidationsPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <label>Send Email to Healthcare Professional</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <description>Processes a manual benefits verification request and shares the patient&apos;s benefits summary with the healthcare professional.</description>
        <name>ProcessManualVerificationRequest</name>
        <label>Process Manual Verification Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>(1 OR 2 OR 3) OR (4 AND 5 AND 6 AND 7)</exitConditionLogic>
        <exitConditions>
            <leftValueReference>SendEmailToPayor.Outputs.isEmailSent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>WaitForPayorResponse.Outputs.isPayorAssessmentResponseReceived</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>Validate_Essential_Benefits.Outputs.hasAllValidationsPassed</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>WaitForPayorResponse.Outputs.isPayorAssessmentResponseReceived</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>Validate_Essential_Benefits.Outputs.hasAllValidationsPassed</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>SendEmailToPayor.Outputs.isEmailSent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>Send_Email_To_Healthcare_Professional.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <description>Sends a payor an email with an assessment URL to get the patient’s latest benefits details.</description>
            <name>SendEmailToPayor</name>
            <actionName>BnftVerfAgnt__SendEmailToPayor</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>assessmentLink</name>
                <value>
                    <elementReference>AssessmentURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <label>Send Email To Payor</label>
            <outputConfigParams>
                <name>isEmailSent</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Waits for payor to complete the assessment.</description>
            <name>WaitForPayorResponse</name>
            <actionName>BnftVerfAgnt__CpyPyrAsmtResptoCbvrRec</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>SendEmailToPayor.Outputs.isEmailSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>8.0</numberValue>
                </value>
            </inputParameters>
            <label>Wait For Payor Response</label>
            <outputConfigParams>
                <name>isPayorAssessmentResponseReceived</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Validates if all the essential benefits details are present in the payor response.</description>
            <name>Validate_Essential_Benefits</name>
            <actionName>BnftVerfAgnt__VldEsnlCrLmtTyp</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>WaitForPayorResponse.Outputs.isPayorAssessmentResponseReceived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <label>Validate Essential Benefits</label>
            <outputConfigParams>
                <name>hasAllValidationsPassed</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>MissingMandatoryDataList</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Sends an email with the patient’s benefits summary to the healthcare professional.</description>
            <name>Send_Email_To_Healthcare_Professional</name>
            <actionName>BnftVerfAgnt__SendBenSummaryEmail</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>Validate_Essential_Benefits.Outputs.hasAllValidationsPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <label>Send Email to Healthcare Professional</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>RefreshPatientPersonalandHealthcareInfo</name>
        <label>Refresh Patient Personal and Healthcare Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ArePatientDetailsUpdated</targetReference>
        </connector>
        <exitConditionLogic>(1 OR 2 OR 3) OR ( 4 AND 5 AND 6)</exitConditionLogic>
        <exitConditions>
            <leftValueReference>SendEmailToPatient.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>WaitForPatientResponse.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>UpdatePatientDetails.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>SendEmailToPatient.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>WaitForPatientResponse.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>UpdatePatientDetails.Outputs.canResumeEvent</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <description>Sends a patient an email with an assessment URL to confirm their latest personal and healthcare details.</description>
            <name>SendEmailToPatient</name>
            <actionName>BnftVerfAgnt__WtCrBnftVrfyRqstStsChg</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orchestratorInstanceId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequestStatus</name>
                <value>
                    <stringValue>AssessmentFormSentToPatient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeoutMessage</name>
                <value>
                    <stringValue>Reach out to the patient to get their latest details.</stringValue>
                </value>
            </inputParameters>
            <label>Send Email to Patient</label>
            <outputConfigParams>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>canResumeEvent</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Waits for patient to complete the assessment.</description>
            <name>WaitForPatientResponse</name>
            <actionName>BnftVerfAgnt__WtCrBnftVrfyRqstStsChg</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>SendEmailToPatient.Outputs.canResumeEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orchestratorInstanceId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequestStatus</name>
                <value>
                    <stringValue>PatientAssessmentResponseReceived</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeoutMessage</name>
                <value>
                    <stringValue>Reach out to the patient to get their latest details.</stringValue>
                </value>
            </inputParameters>
            <label>Wait for Patient Response</label>
            <outputConfigParams>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>canResumeEvent</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <description>Updates a patient&apos;s personal and healthcare details based on assessment responses.</description>
            <name>UpdatePatientDetails</name>
            <actionName>BnftVerfAgnt__WtCrBnftVrfyRqstStsChg</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <conditionType>EntryCondition</conditionType>
                <leftValueReference>WaitForPatientResponse.Outputs.canResumeEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </entryConditions>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>careBenefitVerifyRequestId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value>
                    <elementReference>SendEmailToPatient.Outputs.flowOrchestratorInstanceRelatedObjectId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orchestratorInstanceId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepNumber</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>careBenefitVerifyRequestStatus</name>
                <value>
                    <stringValue>PatientAssessmentResponseUpdatedToRecords</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeoutMessage</name>
                <value>
                    <stringValue>Update the patient&apos;s personal and healthcare details.</stringValue>
                </value>
            </inputParameters>
            <label>Update Patient Details</label>
            <outputConfigParams>
                <name>flowOrchestratorInstanceRelatedObjectId</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>canResumeEvent</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <sourceTemplate>BnftVerfAgnt__ReverifyBenefits</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RefreshPatientPersonalandHealthcareInfo</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedCareBnftVerifyRequestId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CareBenefitVerifyRequest</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the experience cloud site URL.</description>
        <name>AssessmentURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://ls-learning-usa794org5.my.site.com/patients/s/bvassessments</stringValue>
        </value>
    </variables>
</Flow>
