force-app/main/default/flows/Review_Assessment_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Assessment_Question_Version_Id_to_Collection</name>
        <label>Add Assessment Question Version Id to Collection</label>
        <locationX>138</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>assessmentQuestionVersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_OmniProcessAssessmentQuestoionVer_Records.AssessmentQuestionVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_OmniProcessAssessmentQuestoionVer_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_RecordId_from_Lookup</name>
        <label>Assignment of RecordId from Lookup</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareProgramSiteRecordId.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CareProgramSite_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Question_Text_Custom_Field_in_Question_Response</name>
        <label>Populate Question Text Custom Field in Question Response</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>AssessmentQuestionResponse_Loop.Question_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentQuestionVer_Loop.QuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentQuestionResponseUpdatedRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssessmentQuestionResponse_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssessmentQuestionResponse_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Assessment_Envelope_Record_Ids</name>
        <label>Store Assessment Envelope Record Ids</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeIdRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assessment_EnvelopeId_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assessment_EnvelopeId_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_OmniProcessAssessmentQuestionVer_Present</name>
        <label>Are OmniProcessAssessmentQuestionVer Present?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_QuestionsPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OmniProcessAssessmentQuestionVer_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_OmniProcessAssessmentQuestoionVer_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Assessment_Present</name>
        <label>Is Assessment Present?</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OmniProcessAssessmentQuestionVer_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Match_of_Question_and_Response</name>
        <label>Verify Match of Question and Response</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>AssessmentQuestionResponse_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip and Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Question_Response_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssessmentQuestionVer_Loop.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AssessmentQuestionResponse_Loop.AssessmentQuestion.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Question_Text_Custom_Field_in_Question_Response</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Review Assessment Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Review Assessment Survey</label>
    <loops>
        <name>AssessmentQuestionResponse_Loop</name>
        <label>AssessmentQuestionResponse Loop</label>
        <locationX>490</locationX>
        <locationY>2138</locationY>
        <collectionReference>Get_Assessment_Question_Responses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Match_of_Question_and_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssessmentQuestionVer_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AssessmentQuestionVer_Loop</name>
        <label>AssessmentQuestionVer Loop</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Assessment_Question_Version_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssessmentQuestionResponse_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_Assessment_Survey</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assessment_EnvelopeId_Records</name>
        <label>Loop Assessment EnvelopeId Records</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Assessment_Envelope_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Assessment_Envelope_Record_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Assessment_Envelope_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_OmniProcessAssessmentQuestoionVer_Records</name>
        <label>Loop Over OmniProcessAssessmentQuestoionVer Records</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <collectionReference>Get_OmniProcessAssessmentQuestionVer_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Assessment_Question_Version_Id_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Assessment_Question_Version_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assessment_Envelope_Items</name>
        <label>Get Assessment Envelope Items</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Assessment_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentEnvelopeId</field>
            <operator>In</operator>
            <value>
                <elementReference>assessmentEnvelopeIdRecordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentEnvelopeItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssessmentId</queriedFields>
        <queriedFields>AssessmentEnvelopeId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OmniProcessId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Envelope_Record</name>
        <label>Get Assessment Envelope Record</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assessment_EnvelopeId_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RequestReferenceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CareProgramSite_Record.Investigator.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentEnvelope</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Question_Responses</name>
        <label>Get Assessment Question Responses</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssessmentQuestionVer_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssessmentQuestionId</field>
            <operator>In</operator>
            <value>
                <elementReference>assessmentQuestionVersionIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssessmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assessment_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Question_Version_Records</name>
        <label>Get Assessment Question Version Records</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Question_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>assessmentQuestionVersionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssessmentQuestionVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Record</name>
        <label>Get Assessment Record</label>
        <locationX>380</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Assessment_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssessmentEnvelopeItemsTable.firstSelectedRow.AssessmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CareProgramSite_Record</name>
        <label>Get CareProgramSite Record</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assessment_Envelope_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OmniProcessAssessmentQuestionVer_Records</name>
        <label>Get OmniProcessAssessmentQuestionVer Records</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_OmniProcessAssessmentQuestionVer_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OmniProcessId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assessment_Record.OmniProcessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OmniProcessAsmtQuestionVer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Assessment_Survey</name>
        <label>Display Assessment Survey</label>
        <locationX>50</locationX>
        <locationY>2714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AssessmentDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Survey Assessment Name: &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(20, 70, 218);&quot;&gt;{!Get_Assessment_Record.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssessmentSurveyResponse</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AssessmentQuestionResponse</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>assessmentQuestionResponseUpdatedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-efe8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Assessment Question Response ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Question_Text__c&quot;,&quot;guid&quot;:&quot;column-94d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Survey Question&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Question Text&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ResponseValue&quot;,&quot;guid&quot;:&quot;column-2563&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Response Value&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Assessment_Table</name>
        <label>Display Assessment Table</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Assessment_Record</targetReference>
        </connector>
        <fields>
            <name>AssessmentEnvelopeItemsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AssessmentEnvelopeItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assessment Envelope Items Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Assessment_Envelope_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-410e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Assessment Envelope Item ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;AssessmentId&quot;,&quot;guid&quot;:&quot;column-f5b8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Assessment ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-699a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Assessment Envelope Item Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-91d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-6ce9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-6a26&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Care_Program_Site</name>
        <label>Select Care Program Site</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment_of_RecordId_from_Lookup</targetReference>
        </connector>
        <fields>
            <name>CareProgramSiteRecordId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CareProgramSiteId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>CareProgramSiteContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Care Program Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Care_Program_Site</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assessmentEnvelopeIdRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assessmentQuestionResponseUpdatedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentQuestionResponse</objectType>
    </variables>
    <variables>
        <name>assessmentQuestionVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
