force-app/main/default/flows/Send_Assessments_to_Care_Program_Sites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Care_Program_Site_Record_to_careProgramSiteRecords</name>
        <label>Add Care Program Site Record to careProgramSiteRecords</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>careProgramSiteRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Care_Program_Site_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CareProgramSiteRecordListSize</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ids_to_recordIds</name>
        <label>Add ids to recordIds</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_recordId_to_recordIds_Collection</name>
        <label>Add recordId to recordIds Collection</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>recordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CareProgramSiteId.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Care_Program_Site_Record_to_careProgramSiteRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_careProgramSiteRecord</name>
        <label>Add to careProgramSiteRecord</label>
        <locationX>138</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>careProgramSiteRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Fetched_CareProgramSites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Fetched_CareProgramSites</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CareProgramSiteRecordListSize</name>
        <label>CareProgramSiteRecordListSize</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>careProgramSiteRecordLlistSzie</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>careProgramSiteRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssessmentEnvelopeDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Creates a new Assessment Envelope Record to assessmentEnvelopeRecords Collection</description>
        <name>Create_and_add_AssessmentEnvelope_Object_to_collection</name>
        <label>Create and add AssessmentEnvelope Object to collection</label>
        <locationX>270</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_CareProgramSiteRecords.Investigator.Account.PersonContact.Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.RequestReferenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_CareProgramSiteRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.ExpirationDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentExpiryDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeObject.NotificationStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotSent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assessmentEnvelopeObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CareProgramSiteRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_and_add_AssessmentEnvelopeItem_Object</name>
        <label>Create and add AssessmentEnvelopeItem Object</label>
        <locationX>270</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeItemRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OmniProcess.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeItemRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NotStarted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeItemRecord.OmniProcessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OmniProcess.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeItemRecord.AssessmentEnvelopeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_AssessmentEnvelope_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assessmentEnvelopeItemRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assessmentEnvelopeItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_AssessmentEnvelope_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_and_Add_to_careProgramSiteRecordsToUpdate</name>
        <label>Update and Add to careProgramSiteRecordsToUpdate Collection</label>
        <locationX>270</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Care_Program_Site_Records_to_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invited for Survey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Over_Care_Program_Site_Records_to_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Care_Program_Site_Records_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>careProgramSiteRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Care_Program_Site_Records_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Care_Program_Site_Records_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify if the Care Program Site Record Id&apos;s are present from the Input</description>
        <name>CareProgramSiteRecordIds_are_present</name>
        <label>CareProgramSiteRecordIds are present?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>SelectCareProgramSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Care_Program_Site_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to Send Assessments to Care Program Sites</description>
    <environments>Default</environments>
    <interviewLabel>Send Assessments to Care Program Sites {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Assessments to Care Program Sites</label>
    <loops>
        <name>Loop_Over_AssessmentEnvelope_Records</name>
        <label>Loop Over AssessmentEnvelope Records</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <collectionReference>assessmentEnvelopeRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_and_add_AssessmentEnvelopeItem_Object</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_AssessmentEnvelopeItem_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_AssessmentEnvelopeRecords</name>
        <label>Loop Over AssessmentEnvelopeRecords</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <collectionReference>assessmentEnvelopeRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Assessment_Envelope_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Over_Care_Program_Site_Records_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Care_Program_Site_Records_to_Update</name>
        <label>Loop Over Care Program Site Records to Update</label>
        <locationX>182</locationX>
        <locationY>2474</locationY>
        <collectionReference>careProgramSiteRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_and_Add_to_careProgramSiteRecordsToUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_of_CareProgramSiteRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_CareProgramSiteRecords</name>
        <label>Loop Over CareProgramSiteRecords</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <collectionReference>careProgramSiteRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_and_add_AssessmentEnvelope_Object_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assessment_Envelope_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Fetched_CareProgramSites</name>
        <label>Loop over Fetched CareProgramSites</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Fetch_Care_Program_Site_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_careProgramSiteRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CareProgramSiteRecordListSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_ids</name>
        <label>Loop Over ids</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ids_to_recordIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CareProgramSiteRecordIds_are_present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Assessment Envelope Records from AssessmentEnvelope Object</description>
        <name>Create_Assessment_Envelope_Records</name>
        <label>Create Assessment Envelope Records</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <connector>
            <targetReference>Loop_Over_AssessmentEnvelope_Records</targetReference>
        </connector>
        <inputReference>assessmentEnvelopeRecords</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_AssessmentEnvelopeItem_Records</name>
        <label>Create AssessmentEnvelopeItem Records</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>Loop_Over_AssessmentEnvelopeRecords</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>assessmentEnvelopeItemRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get All Care Program Site Records from the given RecordIds Input.</description>
        <name>Fetch_Care_Program_Site_Records</name>
        <label>Fetch Care Program Site Records</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Care_Program_Sites_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CareProgramSite</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Program_Site_Record</name>
        <label>Get Care Program Site Record</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_recordId_to_recordIds_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CareProgramSiteId.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProgramSite</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_of_CareProgramSiteRecords</name>
        <label>Update Status of CareProgramSiteRecords</label>
        <locationX>182</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>SuccessInfoScreen</targetReference>
        </connector>
        <inputReference>careProgramSiteRecordsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>AssessmentEnvelopeDetails</name>
        <label>Assessment Envelope Details</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Over_CareProgramSiteRecords</targetReference>
        </connector>
        <fields>
            <name>AssessmentEnvelopeDetailsInfo</name>
            <fieldText>&lt;p&gt;Please enter the following details for sending Site Feasibility Assessment Survey:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AssessmentEnvelopeDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AssessmentEnvelopeDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OmniProcess</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>OmniProcessAsmtQuestionVer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OmniProcessId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search for Assessment Survey (Omniprocess)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AssessmentExpiryDateTime</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Assessment Expiry Date Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>AssessmentEnvelopeDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssessmentName</name>
                    <dataType>String</dataType>
                    <fieldText>Assessment Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Care_Program_Sites_Selected</name>
        <label>Care Program Sites Selected</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_over_Fetched_CareProgramSites</targetReference>
        </connector>
        <fields>
            <name>CSPRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following are the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Care Program Site&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Records&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; selected.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CareProgramSiteIds</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CareProgramSite</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Care Program Site Ids Selected</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Fetch_Care_Program_Site_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ResearchStudyId&quot;,&quot;guid&quot;:&quot;column-04e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Research Study ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d698&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Id&quot;,&quot;guid&quot;:&quot;column-8117&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Care Program Site ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;HealthCareFacilityId&quot;,&quot;guid&quot;:&quot;column-9e96&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Healthcare Facility ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;InvestigatorId&quot;,&quot;guid&quot;:&quot;column-3195&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Site Investigator Contact Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Healthcare Provider ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectCareProgramSite</name>
        <label>Select Care Program Site</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Care_Program_Site_Record</targetReference>
        </connector>
        <fields>
            <name>CareProgramSiteId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CareProgramSiteId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>CareProgramSiteContract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search for Care Program Site</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessInfoScreen</name>
        <label>Success Screen</label>
        <locationX>182</locationX>
        <locationY>2882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Assessment Survey is sent to Care Program Site successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Over_ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Assessment_Envelope_Email</name>
        <label>Send Assessment Envelope Email</label>
        <locationX>270</locationX>
        <locationY>2282</locationY>
        <connector>
            <targetReference>Loop_Over_AssessmentEnvelopeRecords</targetReference>
        </connector>
        <flowName>Clone_Send_Assessment_Envelope_Email</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Over_AssessmentEnvelopeRecords.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>assessmentEnvelopeItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentEnvelopeItem</objectType>
    </variables>
    <variables>
        <name>assessmentEnvelopeItemRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentEnvelopeItem</objectType>
    </variables>
    <variables>
        <name>assessmentEnvelopeObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentEnvelope</objectType>
    </variables>
    <variables>
        <name>assessmentEnvelopeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssessmentEnvelope</objectType>
    </variables>
    <variables>
        <name>careProgramSiteRecordLlistSzie</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>careProgramSiteRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramSite</objectType>
    </variables>
    <variables>
        <name>careProgramSiteRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CareProgramSite</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>CareProgramSiteRecords</description>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
