force-app/main/default/flows/University_of_Florida_Send_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the Authorization Form ID of the current authorization form data use record to the authorizationForms collection.</description>
        <name>AddAuthorizationFormIdToCollection</name>
        <label>Add Authorization Form ID to Collection</label>
        <locationX>1377</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>AuthorizationFromIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAuthorizationFormDataUses.AuthorizationFormId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAuthorizationFormDataUses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Content Document ID of the current authorization form text record to the ContentDocumentIds collection. Adds the  Authorization Form Text ID of the current authorization form text record to the authorizationFormTextIds collection.</description>
        <name>AddAuthorizationFormTextIdAndContentDocumentIdToCollection</name>
        <label>Add Authorization Form Text ID and Content Document ID to Collection</label>
        <locationX>1806</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAuthorizationFormTexts.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthorizationFromTextIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverAuthorizationFormTexts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAuthorizationFormTexts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the Content Document ID of the current  authorization form text record to the ContentDocumentIds collection.</description>
        <name>AddContentDocumentIdToCollection</name>
        <label>Add Content Document ID to Collection</label>
        <locationX>138</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateAuthorizationFormTexts.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAuthorizationFormTexts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets CandidateAccountId and CandidateAccountName to the Account ID and the Account Name of the record in Account from GetAccount.</description>
        <name>SetAccountVariables</name>
        <label>Set Account Variables</label>
        <locationX>1884</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CandidateAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDataUsePurpose</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets InfoAuthorizationConsenterId to the Account ID of the record in Account from GetAccount record variable. Then, sets AuthorizationFormConsenterId to candidateId.</description>
        <name>SetCandidateAsConsentGiver</name>
        <label>Set Candidate as Consent Giver</label>
        <locationX>467</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>InfoAuthorizationConsenterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthorizationFormConsenterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveAuthorizationFormTextIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the account record is missing.</description>
        <name>SetErrorMessageAccountRecordNotFound</name>
        <label>Set Error Message</label>
        <locationX>3698</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No account record found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the authorization form data use records are missing.</description>
        <name>SetErrorMessageAuthorizationFormDataUseRecordsNotFound</name>
        <label>Set Error Message</label>
        <locationX>794</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No authorization form data use records found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when authorization form records are missing.</description>
        <name>SetErrorMessageAuthorizationFormsNotFound</name>
        <label>Set Error Message</label>
        <locationX>1058</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No authorization form records found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when authorization form text records are missing.</description>
        <name>SetErrorMessageAuthorizationFormTextsNotFound</name>
        <label>Set Error Message</label>
        <locationX>1322</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No authorization form text records found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when content document records are missing.</description>
        <name>SetErrorMessageContentDocumentsNotFound</name>
        <label>Set Error Message</label>
        <locationX>1586</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No content document records found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the error message that the flow returns when the data use purpose record is missing.</description>
        <name>SetErrorMessageDataUsePurposeNotFound</name>
        <label>Set Error Message</label>
        <locationX>3170</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No data use purpose record found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the account record.</description>
        <name>SetErrorMessageGetAccount</name>
        <label>Set Error Message</label>
        <locationX>3962</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the account record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the authorization form data use records.</description>
        <name>SetErrorMessageGetAuthorizationFormDataUseRecords</name>
        <label>Set Error Message</label>
        <locationX>2906</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the authorization form data use records.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error messages that the flow returns when there’s an error getting the authorization form records.</description>
        <name>SetErrorMessageGetAuthorizationForms</name>
        <label>Set Error Message</label>
        <locationX>2642</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the authorization form records.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the authorization form text records.</description>
        <name>SetErrorMessageGetAuthorizationFormTexts</name>
        <label>Set Error Message</label>
        <locationX>2378</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the authorization form text records. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error messages that the flow returns when there’s an error getting the content document records.</description>
        <name>SetErrorMessageGetContentDocuments</name>
        <label>Set Error Message</label>
        <locationX>2114</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the content document records.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the data use purpose record.</description>
        <name>SetErrorMessageGetDataUsePurpose</name>
        <label>Set Error Message</label>
        <locationX>3434</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the Data Use Purpose record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the research study candidate record.</description>
        <name>SetErrorMessageGetResearchStudyCandidate</name>
        <label>Set Error Message</label>
        <locationX>5018</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the research study candidate record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when there’s an error getting the user record.</description>
        <name>SetErrorMessageGetUser</name>
        <label>Set Error Message</label>
        <locationX>4490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Something went wrong and we couldn’t get the user record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the candidate ID that’s passed into the flow is invalid.</description>
        <name>SetErrorMessageInvalidCandidateId</name>
        <label>Set Error Message</label>
        <locationX>5282</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The candidate ID passed into the flow is invalid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the required inputs aren’t passed into the flow.</description>
        <name>SetErrorMessageRequiredInputsMissing</name>
        <label>Set Error Message</label>
        <locationX>5546</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We couldn’t find values for Data Use Purpose ID and Candidate ID.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the research study candidate record is missing.</description>
        <name>SetErrorMessageRSCRecordMissing</name>
        <label>Set Error Message</label>
        <locationX>4754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No user record found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the error message that the flow returns when the user record is missing.</description>
        <name>SetErrorMessageUserRecordMissing</name>
        <label>Set Error Message</label>
        <locationX>4226</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No user record found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenDisplayUnexpectedError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets LanguageAndLocale to the value of the LanguageLocaleKey field of the record in User from GetUser.</description>
        <name>SetLanguageAndLocale</name>
        <label>Set Language and Locale</label>
        <locationX>2791</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LanguageAndLocale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.LanguageLocaleKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets InfoAuthorizationConsenterId and AuthorizationFormConsenterId to the Record ID of the consent giver selected by the flow user in the ScreenSelectConsentDetails screen.</description>
        <name>SetProxyAsConsentGiver</name>
        <label>Set Proxy as Consent Giver</label>
        <locationX>731</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>InfoAuthorizationConsenterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentGiverLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthorizationFormConsenterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentGiverLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveAuthorizationFormTextIds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether an account record is found by checking if the Account from GetAccount record variable has a record.</description>
        <name>HaveAccountRecord</name>
        <label>Have Account Record?</label>
        <locationX>2791</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageAccountRecordNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasAccountRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountVariables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether authorization form data use records were found by checking if Authorization Form Data Uses from GetAuthorizationFormDataUses has records.</description>
        <name>HaveAuthorizationFormDataUses</name>
        <label>Have Authorization Form Data Uses?</label>
        <locationX>1041</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>IterateOverAuthorizationFormDataUses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>HasNoAuthorizationFormDataUses</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthorizationFormDataUseRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAuthorizationFormDataUseRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageAuthorizationFormDataUseRecordsNotFound</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether authorization form records were found by checking if the Authorization Forms from GetAuthorizationForms collection contains a record.</description>
        <name>HaveAuthorizationForms</name>
        <label>Have Authorization Forms?</label>
        <locationX>1289</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>GetAuthorizationFormTextsDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>HasNoHaveAuthorizationForms</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthorizationForms</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAuthorizationForms</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageAuthorizationFormsNotFound</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether authorization form text IDs were found by checking if the authorizationFormTextIds collection variable has a value.</description>
        <name>HaveAuthorizationFormTextIds</name>
        <label>Have Authorization Form Text IDs?</label>
        <locationX>599</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>GetAuthorizationFormDataUseRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasAuthorizationFormTextIds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationFromTextIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AuthorizationFromTextIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAuthorizationFormTexts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether authorization form text records were found by checking if the Authorization Form Texts from GetAuthorizationFormTexts record collection has records.</description>
        <name>HaveAuthorizationFormTexts</name>
        <label>Have Authorization Form Texts?</label>
        <locationX>158</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessageAuthorizationFormTextsNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasAuthorizationFormTexts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthorizationFormTexts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAuthorizationFormTexts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateAuthorizationFormTexts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether content document records were found by checking if the Content Documents from GetContentDocuments collection contains a record.</description>
        <name>HaveContentDocuments</name>
        <label>Have Content Documents?</label>
        <locationX>1718</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayContentDocuments1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>HasNoContentDocuments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContentDocuments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageContentDocumentsNotFound</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a data use purpose record was found by checking if the Data Use Purpose from GetDataUsePurpose record variable has a record.</description>
        <name>HaveDataUsePurposeRecord</name>
        <label>Have Data Use Purpose Record?</label>
        <locationX>1884</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageDataUsePurposeNotFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasDataUsePurposeRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDataUsePurpose</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReviewConsentDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether authorization form text records were found by checking if the Authorization Form Texts from GetAuthorizationFormTexts collection contains a record.</description>
        <name>HaveFoundAuthorizationFormsTexts</name>
        <label>Have Authorization Form Texts?</label>
        <locationX>1520</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>IterateOverAuthorizationFormTexts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>HasNoAuthorizationFormsTexts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAuthorizationFormTextsDefault</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageAuthorizationFormTextsNotFound</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether data use purpose ID and candidate ID were passed into the flow.</description>
        <name>HaveRequiredInputValues</name>
        <label>Have Required Input Values?</label>
        <locationX>5126</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageRequiredInputsMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasRequiredInputValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CandidateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CandidateId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataUsePurposeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DataUsePurposeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCandidateTypeResearchStudy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a research study candidate record was found by checking if Research Study Candidate from GetResearchStudyCandidate has a record.</description>
        <name>HaveResearchStudyCandidateRecord</name>
        <label>Have Research Study Candidate Record?</label>
        <locationX>4131</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageRSCRecordMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasResearchStudyCandidateRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetResearchStudyCandidate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a user record was found by checking if the User from GetUser record variable has a value.</description>
        <name>HaveUserRecord</name>
        <label>Have User Record?</label>
        <locationX>3508</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageUserRecordMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasUserRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLanguageAndLocale</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the candidate is the consent giver by checking if the Record ID of the consent giver selected by the flow user in ScreenSelectConsentDetails matches the Account ID of the record in Account from GetAccount record variable.</description>
        <name>IsCandidateTheConsentGiver</name>
        <label>Is Candidate the Consent Giver?</label>
        <locationX>599</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>SetProxyAsConsentGiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsConsentGiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentGiverLookup.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetAccount.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateAsConsentGiver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the candidate is a research study candidate by checking if candidateId matches ResearchStudyCandidateKey.</description>
        <name>IsCandidateTypeResearchStudy</name>
        <label>Is Candidate Type Research Study?</label>
        <locationX>4706</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageInvalidCandidateId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsResearchStudyCandidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CandidateId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>ResearchStudyCandidateKey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetResearchStudyCandidate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Stores the picklist choice set used in the LanguageAndLocale screen component on the ScreenCollectConsentDetails screen. The object is set to Authorization Form Text, the data type is set to Picklist, the field is set to Locale, and the sort order is set to Ascending.</description>
        <name>ChoiceLanguageAndLocale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Locale</picklistField>
        <picklistObject>AuthorizationFormText</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>University of Florida - Send Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>University of Florida - Send Consent</label>
    <loops>
        <description>Repeats actions in a loop for each authorization form text record in the Authorization Form Texts from GetAuthorizationFormTexts record collection.</description>
        <name>IterateAuthorizationFormTexts</name>
        <label>Iterate Over Authorization Form Texts</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <collectionReference>GetAuthorizationFormTexts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddContentDocumentIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetContentDocuments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in a loop for each record in the Authorization Form Data Uses from GetAuthorizationFormDataUses has records collection.</description>
        <name>IterateOverAuthorizationFormDataUses</name>
        <label>Iterate Over Authorization Form Data Uses</label>
        <locationX>1289</locationX>
        <locationY>2162</locationY>
        <collectionReference>GetAuthorizationFormDataUseRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAuthorizationFormIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAuthorizationForms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions in a loop for each authorization form text record in the Authorization Form Texts from GetAuthorizationFormTexts collection.</description>
        <name>IterateOverAuthorizationFormTexts</name>
        <label>Iterate Over Authorization Form Texts</label>
        <locationX>1718</locationX>
        <locationY>2894</locationY>
        <collectionReference>GetAuthorizationFormTextsDefault</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddAuthorizationFormTextIdAndContentDocumentIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetContentDocuments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the account record with an ID that matches the Candidate ID of the research study candidate record returned by GetResearchStudyCandidate. Stores the result in Account from GetAccount.</description>
        <name>GetAccount</name>
        <label>Get Account</label>
        <locationX>2791</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAccountRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetAccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetResearchStudyCandidate.CandidateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the authorization form data use records with a Data Use Purpose ID that matches the ID in the dataUsePurposeId variable. Stores the result in Authorization Form Data Use Records from GetAuthorizationFormDataUseRecords.</description>
        <name>GetAuthorizationFormDataUseRecords</name>
        <label>Get Authorization Form Data Use Records</label>
        <locationX>1041</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAuthorizationFormDataUses</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetAuthorizationFormDataUseRecords</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DataUsePurposeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationFormDataUse</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AuthorizationFormId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the authorization form records with an ID that’s in the AuthorizationFromIds collection. Stores the result in the Authorization Forms from GetAuthorizationForms record collection.</description>
        <name>GetAuthorizationForms</name>
        <label>Get Authorization Forms</label>
        <locationX>1289</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAuthorizationForms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetAuthorizationForms</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AuthorizationFromIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationForm</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the authorization form text records with an ID that’s in the authorizationFormTextIds collection. Stores the result in the Authorization Form Texts from GetAuthorizationFormTexts record collection.</description>
        <name>GetAuthorizationFormTexts</name>
        <label>Get Authorization Form Texts</label>
        <locationX>158</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAuthorizationFormTexts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessageGetAuthorizationFormTexts</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AuthorizationFromTextIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the authorization form text records with an Authorization Form ID that’s in AuthorizationFromIds and a Locale that matches the locale selected by the flow user in the ScreenSelectConsentDetails screen. Stores the result in the Authorization Form Texts from GetAuthorizationFormTexts record collection.</description>
        <name>GetAuthorizationFormTextsDefault</name>
        <label>Get Authorization Form Texts</label>
        <locationX>1520</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveFoundAuthorizationFormsTexts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetAuthorizationFormTexts</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AuthorizationFormId</field>
            <operator>In</operator>
            <value>
                <elementReference>AuthorizationFromIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Locale</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LanguageAndLocalePicklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AuthorizationFormText</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the content document records with an ID that’s in the ContentDocumentIds collection. Stores the result in Content Documents from GetContentDocuments record collection.</description>
        <name>GetContentDocuments</name>
        <label>Get Content Documents</label>
        <locationX>1718</locationX>
        <locationY>3194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveContentDocuments</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetContentDocuments</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the data use purpose record with an ID that matches the Data Use Purpose ID that’s passed into the flow. Stores the result in the Data Use Purpose from GetDataUsePurpose record variable.</description>
        <name>GetDataUsePurpose</name>
        <label>Get Data Use Purpose</label>
        <locationX>1884</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveDataUsePurposeRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetDataUsePurpose</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DataUsePurpose</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the research study candidate record with an ID that matches the candidate ID that’s passed into the flow. Stores the result in the Research Study Candidate from GetResearchStudyCandidate record variable.</description>
        <name>GetResearchStudyCandidate</name>
        <label>Get Research Study Candidate</label>
        <locationX>4131</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveResearchStudyCandidateRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetResearchStudyCandidate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResearchStudyCandidate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the user record with an Account ID or Contact ID that matches the Candidate ID that’s passed into the flow. Stores the result in the User from GetUser record variable.</description>
        <name>GetUser</name>
        <label>Get User</label>
        <locationX>3508</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveUserRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessageGetUser</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetResearchStudyCandidate.CandidateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetResearchStudyCandidate.CandidateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the flow user to review the candidate name, data use purpose, consent giver, and the consent form language.</description>
        <name>ReviewConsentDetails</name>
        <label>Review Consent Details</label>
        <locationX>599</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsCandidateTheConsentGiver</targetReference>
        </connector>
        <fields>
            <name>ReviewConsentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReviewConsentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataUsePurposeDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Consent Purpose:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(12, 114, 238); font-size: 14px;&quot;&gt;{!GetDataUsePurpose.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HasDataUsePurposeRecord</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ReviewConsentDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CandidateNameDisplayText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Candidate Name:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(12, 114, 238); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!CandidateAccountName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HasUserRecord</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConsentGiverLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ConsenterId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consent Giver</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>InfoAuthorizationRequest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CandidateAccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>LanguageAndLocalePicklist</name>
            <choiceReferences>ChoiceLanguageAndLocale</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LanguageAndLocale</elementReference>
            </defaultValue>
            <fieldText>Language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message notifying the flow user about the consent creation status.</description>
        <name>ScreenDisplayConsentCreationStatusMessage</name>
        <label>Display Consent Creation Status Message</label>
        <locationX>1850</locationX>
        <locationY>3626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessConsentCreationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(58, 144, 8);&quot;&gt;Success: {!SuccessMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuccessMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorConsentCreationDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 33); font-size: 14px;&quot;&gt;Error: {!ErrorMessage}. &lt;/span&gt;&lt;span style=&quot;color: rgb(209, 32, 32); font-size: 14px; background-color: transparent;&quot;&gt;Contact your Salesforce admin for help.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to review selected language and content documents related to their consent request.</description>
        <name>ScreenDisplayContentDocuments1</name>
        <label>Display Content Documents</label>
        <locationX>1850</locationX>
        <locationY>3410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateConsentRequest</targetReference>
        </connector>
        <fields>
            <name>SelectedLanguageAndLocaleDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(99, 98, 98); background-color: transparent; font-size: 14px;&quot;&gt;Language&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: transparent; font-family: Arial, sans-serif; font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!LanguageAndLocale}{!LanguageAndLocalePicklist}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContentDocumetsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consent Documents</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContentDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-0b45&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Document Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileExtension&quot;,&quot;guid&quot;:&quot;column-e36d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;File Extension&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error message to the flow user when the flow execution fails due to an unexpected error.</description>
        <name>ScreenDisplayUnexpectedError</name>
        <label>Display Error</label>
        <locationX>5126</locationX>
        <locationY>4766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageDisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 23, 23);&quot;&gt;Error: {!ErrorMessage} Contact Salesforce Administrator for more information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>industries_consent__ReviewConsentReq</sourceTemplate>
    <start>
        <locationX>5000</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRequiredInputValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a flow that creates consent requests and returns either a success or error message.</description>
        <name>CreateConsentRequest</name>
        <label>Create Consent Request</label>
        <locationX>1850</locationX>
        <locationY>3518</locationY>
        <connector>
            <targetReference>ScreenDisplayConsentCreationStatusMessage</targetReference>
        </connector>
        <flowName>industries_consent__CreateConsentReq</flowName>
        <inputAssignments>
            <name>authorizationFormConsenterId</name>
            <value>
                <elementReference>AuthorizationFormConsenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>authorizationFormTextIds</name>
            <value>
                <elementReference>AuthorizationFromTextIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>candidateId</name>
            <value>
                <elementReference>CandidateAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>consentGiverId</name>
            <value>
                <elementReference>InfoAuthorizationConsenterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>dataUsePurposeId</name>
            <value>
                <elementReference>DataUsePurposeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isDigitalVerificationRequired</name>
            <value>
                <elementReference>IsDigitalVerificationRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>languageAndLocale</name>
            <value>
                <elementReference>LanguageAndLocalePicklist</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuccessMessage</assignToReference>
            <name>SuccessMessage</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Stores an ID that’s used as the ConsenterId of the authorization form consent record created by the Create Consent Request subflow.</description>
        <name>AuthorizationFormConsenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of authorization form IDs.</description>
        <name>AuthorizationFromIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of authorization form text IDs.</description>
        <name>AuthorizationFromTextIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the candidate’s account record.</description>
        <name>CandidateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the name of the candidate’s account record.</description>
        <name>CandidateAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the research study candidate record ID that was passed into the flow.</description>
        <name>CandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the data use purpose record passed to the flow.</description>
        <name>DataUsePurposeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the error message that the flow returns when the flow execution fails.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores an ID that’s used as the ConsenterId of the info authorization request record created by the Create Consent Request subflow.</description>
        <name>InfoAuthorizationConsenterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a Boolean value that indicates whether digital verification is required.</description>
        <name>IsDigitalVerificationRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the language and locale used to retrieve consent documents.</description>
        <name>LanguageAndLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a value key that’s used to identify research study candidate records.</description>
        <name>ResearchStudyCandidateKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>7ev</stringValue>
        </value>
    </variables>
    <variables>
        <description>Store the error message that the flow returns when consent records are created.</description>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Your consent was verified and recorded.</stringValue>
        </value>
    </variables>
</Flow>
