force-app/main/default/flows/University_of_Florida_Referral_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_plansourceId_to_recordID</name>
        <label>Assign plansourceId to recordID</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planSourceIdentifierId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReferralInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_PlanSourceId_same_as_Candidate_Id</name>
        <label>Is PlanSourceId same as Candidate Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ReferralInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlanSourceId_same_as_Candidate_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>planSourceIdentifierId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7ev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_plansourceId_to_recordID</targetReference>
            </connector>
            <label>PlanSourceId same as Candidate Id</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>University of Florida - Referral Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>University of Florida - Accept Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateResearchStudyCandidate</name>
        <label>Update Candidate Status to Referral Accepted</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>successMsgInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Referral Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>ResearchStudyCandidate</object>
    </recordUpdates>
    <screens>
        <name>ReferralInfo</name>
        <label>Referral Information</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateResearchStudyCandidate</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(25, 91, 221);&quot;&gt;Candidate Referral Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>infomation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please accept the candidate referred through &lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(22, 87, 228);&quot;&gt;Makana Pharma Recruitment Portal.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successMsgInfo</name>
        <label>Success Message</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success_img</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>display: block; padding: 0; margin-left: auto; margin-right: auto; width: 50%;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>successMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Referral Request is accepted and&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Candidate is moved to &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(9, 137, 8);&quot;&gt;Referral Accepted&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(9, 137, 8);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Status successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_PlanSourceId_same_as_Candidate_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>planSourceIdentifierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
