force-app/main/default/flows/User_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PlanSourceId_to_record_Id</name>
        <label>Assign PlanSourceId to record Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>planSourceIdentifierId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Participant_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_New_ContactID</name>
        <label>Assignment New ContactID</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>contactIdOfPortalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_User_Present_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_User_Details</name>
        <label>Create User Details</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>NewUser.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Account.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Account.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.Alias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nick_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.ProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Participant_Profile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Austin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.Username</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.EmailEncodingKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asia/Colombo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUser.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactIdOfPortalUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_From_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_User_Id_Assignment</name>
        <label>Current User Id Assignment</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_User_Id_assignment2</name>
        <label>Current User Id assignment2</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_User_Present_Check.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error</name>
        <label>error</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>erorInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PortalContactId</name>
        <label>Assignment ContcatID</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>contactIdOfPortalUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Contact_Whos_Account_Id_is_CandidateId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_User_Present_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Present</name>
        <label>Is Contact Present</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Present</defaultConnectorLabel>
        <rules>
            <name>Contact_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Contact_Whos_Account_Id_is_CandidateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PortalContactId</targetReference>
            </connector>
            <label>Contact Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_PlansourceId_a_CandidateId</name>
        <label>is PlansourceId a CandidateId</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Participant_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlanSourceId_a_Candidate_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>planSourceIdentifierId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7ev</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PlanSourceId_to_record_Id</targetReference>
            </connector>
            <label>PlanSourceId a Candidate Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Already_Present</name>
        <label>Is User Already Present</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Current_User_Id_assignment2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_User_Present_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_Details</targetReference>
            </connector>
            <label>User is Not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>University of Florida - User Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>University of Florida - User Creation Flow</label>
    <loops>
        <name>Loop_Over_Permission_Set_Assignments</name>
        <label>Loop Over Permission Set Assignments</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <collectionReference>Get_Permission_Set_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPermissionSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AssignPermissionSet</name>
        <label>Assign Permission Set</label>
        <locationX>402</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Loop_Over_Permission_Set_Assignments</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Loop_Over_Permission_Set_Assignments.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Assignment_New_ContactID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Fetch_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Fetch_Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Fetch_Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Fetch_Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Fetch_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Fetch_Account.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead Record</label>
        <locationX>314</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Update_Research_Study_Candidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Salesforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Fetch_Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Fetch_Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User_From_Existing</name>
        <label>Create User From Existing</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <connector>
            <targetReference>Current_User_Id_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>NewUser</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Account</name>
        <label>Fetch Account</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>userdetailsInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Research_Study_Candidate.CandidateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Contact_Whos_Account_Id_is_CandidateId</name>
        <label>Fetch Contact where AccountId is CandidateId</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Research_Study_Candidate</name>
        <label>Fetch Research Study Candidate</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResearchStudyCandidate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_User_Present_Check</name>
        <label>Fetch User Present Check</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Already_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Account.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Account.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Participant_Profile</name>
        <label>Get Participant Profile</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Research_Study_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Clinical Trial Participant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Records</name>
        <label>Get Permission Set Records</label>
        <locationX>314</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClinicalTrialParticipant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HCChainOfCustodyUser</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Research_Study_Candidate</name>
        <label>Update Candidate to Consent</label>
        <locationX>314</locationX>
        <locationY>2870</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Consent</stringValue>
            </value>
        </inputAssignments>
        <object>ResearchStudyCandidate</object>
    </recordUpdates>
    <screens>
        <name>erorInfo</name>
        <label>erorInfo</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsgDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(209, 15, 15);&quot;&gt;{!errorMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success Message</label>
        <locationX>314</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lead_Record</targetReference>
        </connector>
        <fields>
            <name>success_image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>display: block; padding: 0; margin-left: auto; margin-right: auto; width: 50%;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Portal_User_Created</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Participant User Credentials are created and shared  &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(8, 137, 36);&quot;&gt;Successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>userdetailsInfo</name>
        <label>User Details</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Contact_Whos_Account_Id_is_CandidateId</targetReference>
        </connector>
        <fields>
            <name>UserDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create Portal User&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(7, 87, 144);&quot;&gt;Please provide the details and click next to send notification email.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>userdetailsInfo_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>userdetailsInfo_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>firstName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;First Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Fetch_Account.FirstName}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Username</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetch_Account.PersonEmail</elementReference>
                    </defaultValue>
                    <fieldText>Username</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>alias</name>
                    <dataType>String</dataType>
                    <fieldText>Alias Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>userdetailsInfo_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lastName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Last Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Fetch_Account.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>$User.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nick_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Nick Name (Displayed in Portal Site)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_PlansourceId_a_CandidateId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactIdOfPortalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>planSourceIdentifierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
