force-app/main/default/flows/Verify_Insurance_Type_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets isInsuranceTypeCommercial to True and Adds the ID of the current member plan record to the commercialInsuranceMemberPlanIds collection.</description>
        <name>AddMemberPlanIdToCollection</name>
        <label>Add Member Plan ID to Collection</label>
        <locationX>1282</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>isInsuranceTypeCommercial</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commercialInsuranceMemberPlanIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverMemberPlans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverMemberPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Flow Orchestration Instance Related Obj</description>
        <name>AssignFlowOrchestrationInstancRelated_Obj</name>
        <label>Assign Flow Orchestration Instance Related Obj</label>
        <locationX>1051</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>flowOrchInstRelaObjId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetFlowOrchestrationInstanceRelatedOb.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignStepNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds 1 to the stepNumber variable.</description>
        <name>AssignStepNumber</name>
        <label>Assign Step Number</label>
        <locationX>787</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>stepNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetApplicant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to the message that the flow returns when there’s an error getting records.</description>
        <name>SetErrorMessage</name>
        <label>Set Error Message</label>
        <locationX>787</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>$Flow.FaultMessage</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to ApplicantAndProgramAreMissingTextTemplate.</description>
        <name>SetErrorMessageApplicantAndProgramAreMissing</name>
        <label>Set Error Message</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantAndProgramAreMissingTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessException</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to the message that the flow returns when the applicant record is missing.</description>
        <name>SetErrorMessageApplicantIsMissing</name>
        <label>Set Error Message</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantMissingMessageTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessException</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to NoCommercialInsuranceMessageTextTemplate and isAppealApplicable to True..</description>
        <name>SetErrorMessageCommercialInsuranceMissing</name>
        <label>Set Error Message</label>
        <locationX>1326</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoCommercialInsuranceMessageTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isAppealApplicable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessException</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to the message that the flow returns when a benefit assignment is found</description>
        <name>SetErrorMessageHasBenefitAssignment</name>
        <label>Set Error Message</label>
        <locationX>1854</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BenefitAssignmentExistsMessageTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessException</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets ExceptionMessage to ProgramIsMissingTextTemplate.</description>
        <name>SetErrorMessageProgramIsMissing</name>
        <label>Set Error Message</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ExceptionMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgramIsMissingTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessException</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the value for an active status of the member plan.</description>
        <name>Active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the HMO type of purchaser plan</description>
        <name>HmoPurchaserPlanType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HMO</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the PPO type of purchaser plan.</description>
        <name>PpoPurchaserPlanType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PPO</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value for the primary insurance type.</description>
        <name>PrimaryInsuranceType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value for the secondary insurance type.</description>
        <name>SecondaryInsuranceType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the Workers Compensation type of purchaser plan.</description>
        <name>WorkersCompensationPurchaserPlanType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Workers Comp</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a benefit assignment record was found by checking if the Benefit Assignment from GetBenefitAssignment record variable has a value.</description>
        <name>HaveBenefitAssignment</name>
        <label>Have Benefit Assignment?</label>
        <locationX>1524</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageHasBenefitAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>HasNoBenefitAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBenefitAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMemberPlans</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a commercial insurance exists by checking if isInsuranceTypeCommercial is True</description>
        <name>HaveCommercialInsurance</name>
        <label>Have Commercial Insurance?</label>
        <locationX>1194</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>SetErrorMessageCommercialInsuranceMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HasCommercialInsurance</defaultConnectorLabel>
        <rules>
            <name>HasCommercialInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInsuranceTypeCommercial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the member plan has a commercial purchaser plan by checking if the current member plan record’s Effective From is less than or equal to Current Date, Effective To is greater than or equal to Current Date, Plan Status is Active, and Plan Type is HmoPurchaserPlanType,  PpoPurchaserPlanType, or WorkersCompensationPurchaserPlanType.</description>
        <name>HaveCommercialPurchaserPlan</name>
        <label>Have Commercial Purchaser Plan?</label>
        <locationX>1414</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>IterateOverMemberPlans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasCommercialPurchaserPlan</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.EffectiveFrom</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.EffectiveTo</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.PlanType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HmoPurchaserPlanType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.PlanType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PpoPurchaserPlanType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.PlanType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkersCompensationPurchaserPlanType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverMemberPlans.Plan.PlanStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Active</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMemberPlanIdToCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether  the application form is new by checking if Flow Orchestration Instance Related Obj ID is null</description>
        <name>IsApplicationFormNew</name>
        <label>Is Application Form New?</label>
        <locationX>787</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>AssignFlowOrchestrationInstancRelated_Obj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(Default)</defaultConnectorLabel>
        <rules>
            <name>isNewApplicationForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFlowOrchestrationInstanceRelatedOb.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFlowOrchestrationInstanceRelatedObj</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether an applicant record is missing, a program record is missing, or both are missing by checking if applicant is null, programId is null, or both are null.</description>
        <name>WhichRecordIsMissing</name>
        <label>Which Record is Missing?</label>
        <locationX>787</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>GetProgramEnrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None (Default)</defaultConnectorLabel>
        <rules>
            <name>ApplicantAndProgramAreMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>programId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageApplicantAndProgramAreMissing</targetReference>
            </connector>
            <label>Applicant and Program Are Missing</label>
        </rules>
        <rules>
            <name>ApplicantIsMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>applicant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageApplicantIsMissing</targetReference>
            </connector>
            <label>Applicant is Missing</label>
        </rules>
        <rules>
            <name>ProgramIsMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>programId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessageProgramIsMissing</targetReference>
            </connector>
            <label>Program is Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Insurance Type   - V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Insurance Type   - V2</label>
    <loops>
        <description>Repeats actions for each member plan record in the Member Plans from GetMemberPlans record collection</description>
        <name>IterateOverMemberPlans</name>
        <label>Iterate Over Member Plans</label>
        <locationX>1194</locationX>
        <locationY>1646</locationY>
        <collectionReference>GetMemberPlans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HaveCommercialPurchaserPlan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveCommercialInsurance</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>LsFinclAsst__VerifyInsuranceType</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a flow orchestration instance related obj record using the information passed into the flow and sets the status to InProgress. Stores the ID of the new flow orchestration instance related obj in the FlowOrchestrationInstanceRelatedObjId variable.</description>
        <name>CreateFlowOrchestrationInstanceRelatedObj</name>
        <label>Create FlowOrchestration Instance Related Object</label>
        <locationX>523</locationX>
        <locationY>350</locationY>
        <assignRecordIdToReference>flowOrchInstRelaObjId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignStepNumber</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FlowOrchestrationInstanceId</field>
            <value>
                <elementReference>orchestrationInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a process exception record using the information passed into the flow. Stores the ID of the new process exception record in Process ExceptionId from CreateProcessException.</description>
        <name>CreateProcessException</name>
        <label>Create Process Exception</label>
        <locationX>787</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>UpdateApplicationForm</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalReference</field>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowOrchInstRelaObjId</field>
            <value>
                <elementReference>flowOrchInstRelaObjId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ExceptionMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Triaged</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the applicant record with an ID that matches the applicationFormId passed into the flow. Stores the ID, Application Form ID, Care Program Enrollee ID, and Account ID of the result in the applicant record variable</description>
        <name>GetApplicant</name>
        <label>Get Applicant</label>
        <locationX>787</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgram</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <object>Applicant</object>
        <outputReference>applicant</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CareProgramEnrolleeId</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the benefit assignment record with a Program Enrollment ID that matches the Program Enrollment ID of the record in Program Enrollment from GetProgramEnrollment, and End Date Time is greater than the current date time of the flow. Stores the result in Benefit Assignment from GetBenefitAssignment.</description>
        <name>GetBenefitAssignment</name>
        <label>Get Benefit Assignment</label>
        <locationX>1524</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveBenefitAssignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramEnrollmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProgramEnrollment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BenefitAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the flow orchestration instance related obj record with a Related Object ID that matches the applicationFormId passed into the flow. Stores the result in the Flow Orchestration Instance Related Obj from GetFlowOrchestrationInstanceRelatedObj record variable</description>
        <name>GetFlowOrchestrationInstanceRelatedOb</name>
        <label>Get Flow Orchestration Instance Related Obj</label>
        <locationX>787</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsApplicationFormNew</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowOrchestrationInstRelaObj</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the member plan records with an Effective From that’s less than or equal to the current date of the flow, Effective To that’s greater than or equal to the current date of the flow, PrimarySecondaryTertiary matching PrimaryInsuranceType or SecondaryInsuranceType, Account  ID  matching the Account ID of the care program enrollee associated with the applicant, and Status is Active. Stores the results in Member Plans from GetMemberPlans record collection</description>
        <name>GetMemberPlans</name>
        <label>Get Member Plans</label>
        <locationX>1194</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverMemberPlans</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>EffectiveFrom</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveTo</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimarySecondaryTertiary</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimaryInsuranceType</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrimarySecondaryTertiary</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SecondaryInsuranceType</elementReference>
            </value>
        </filters>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicant.CareProgramEnrollee.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MemberPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To get the program records based on input value of application form id</description>
        <name>GetProgram</name>
        <label>Get Program</label>
        <locationX>787</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichRecordIsMissing</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApplicationFormId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <object>ApplicationFormRelation</object>
        <outputAssignments>
            <assignToReference>programId</assignToReference>
            <field>ReferenceRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the active program enrollment record with a Care Program Enrollee ID matching the applicant’s Care Program Enrollee ID and Program ID matching programID. Stores the result in the Program Enrollment from GetProgramEnrollment record variable.</description>
        <name>GetProgramEnrollment</name>
        <label>Get Program Enrollment</label>
        <locationX>1524</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBenefitAssignment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CareProgramEnrolleeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicant.CareProgramEnrollee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramEnrollment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the application form record with an ID that matches applicationFormId, setting the stage to Rejected</description>
        <name>UpdateApplicationForm</name>
        <label>Update Application Form</label>
        <locationX>787</locationX>
        <locationY>2714</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>applicationFormId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationForm</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>661</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFlowOrchestrationInstanceRelatedOb</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text template that contains the message that the flow returns when the applicant record and the program record aren’t found.</description>
        <name>ApplicantAndProgramAreMissingTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We couldn&apos;t find an applicant record and a program record.</text>
    </textTemplates>
    <textTemplates>
        <description>Store the text template that contains the message that the flow returns when the applicant record was not found</description>
        <name>ApplicantMissingMessageTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We couldn&apos;t find an applicant record.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the text template that contains the message that the flow returns when a benefit assignment already exists.</description>
        <name>BenefitAssignmentExistsMessageTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The commercial insurance verification is already completed for the patient.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the text template that contains the message that the flow returns when a commercial insurance isn’t found.</description>
        <name>NoCommercialInsuranceMessageTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The patient doesn&apos;t have commercial insurance.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the text template that contains the message that the flow returns when the program record was not found.</description>
        <name>ProgramIsMissingTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>We couldn&apos;t find a program record.</text>
    </textTemplates>
    <variables>
        <description>Stores the applicant record associated with the applicationFormId passed into the flow.</description>
        <name>applicant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Applicant</objectType>
    </variables>
    <variables>
        <description>Stores the application form ID that was passed into the flow</description>
        <name>applicationFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the member plan IDs of the member plan records that have a commercial type insurance.</description>
        <name>commercialInsuranceMemberPlanIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the message that’s assigned to the Message field of the process exception record to be created.</description>
        <name>ExceptionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the flow orchestration instance related obj record created by the flow. This value is available as output from the flow.</description>
        <name>flowOrchInstRelaObjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether an appeal is applicable for a patient or not. The default value is False. This value is available as output from the flow.</description>
        <name>isAppealApplicable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether an insurance is of type commercial. This value is available as output from the flow.</description>
        <name>isInsuranceTypeCommercial</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the run-time instance of an orchestration. This value is passed into the flow.</description>
        <name>orchestrationInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the program associated with the patient’s application form. This variable is available as output from the flow.</description>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the step number of the current stage.</description>
        <name>stepNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
