force-app/main/default/flows/Wait_for_Care_Benefit_Verify_Request_Status_Change_Clone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that saves the benefits verification logs when the wait times out.</description>
        <name>saveBenVerfLogs</name>
        <label>Save Benefits Verification Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <connector>
            <targetReference>SetResumeEventVariableFailure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>WaitTimeoutErrorTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that saves the benefits verification logs when a patient insurance details are changed.</description>
        <name>saveBenVerfLogsInsuranceDetailsChanged</name>
        <label>Save Benefits Verification Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <connector>
            <targetReference>SetResumeEventVariableFailure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>InitiateNewVerificationRequestTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that saves the benefits verification logs when there are no changes in patient details.</description>
        <name>saveBenVerfLogsNoChangesInPatientDetails</name>
        <label>Save Benefits Verification Logs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>saveBenVerfLogs</actionName>
        <actionType>saveBenVerfLogs</actionType>
        <connector>
            <targetReference>SetResumeEventVariableFailure</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>UpdateBenefitsRequestStatusAsCompletedTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowOrchestrationInstanceRelatedObjId</name>
            <value>
                <elementReference>flowOrchestratorInstanceRelatedObjectId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>careBenefitVerifyRequestId</name>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>benefitsVerificationStepNumber</name>
            <value>
                <elementReference>stepNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveBenVerfLogs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets canResumeEvent to False.</description>
        <name>SetResumeEventVariableFailure</name>
        <label>Set Resume Event Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>canResumeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets canResumeEvent to True.</description>
        <name>SetResumeEventVariableSuccess</name>
        <label>Set Resume Event Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>canResumeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>InsuranceDetailsChangeDetectedInPatientAssessmentResponseEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InsuranceDetailsChangeDetectedInPatientAssessmentResponse</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoChangesInPatientAssessmentResponseEvent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NoChangesInPatientAssessmentResponse</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a flow orchestration instance related object record was found by checking if the flowOrchestrationInstanceRelatedObjId variable contains a value.</description>
        <name>DoesFlowOrchInstanceRelatedObjectExist</name>
        <label>Does Flow Orchestration Instance Related Object Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateFlowOrchInstanceRelatedObj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>FlowOrchInstanceRelatedObjectExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowOrchestratorInstanceRelatedObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WaitForCareBenefitVerifyRequestStatusChange</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Wait for Care Benefit Verify Request Status Change Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wait for Care Benefit Verify Request Status Change Clone</label>
    <overriddenFlow>BnftVerfAgnt__WtCrBnftVrfyRqstStsChg</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Flow Orchestration Instance Related obj record, setting the Flow Orchestration Instance ID to the orchestratorInstanceId input variable, the Related Object ID to the careBenefitVerifyRequestId input variable, and the Status to InProgress. Stores the ID of the new record in the flowOrchestrationInstanceRelatedObjId variable.</description>
        <name>CreateFlowOrchInstanceRelatedObj</name>
        <label>Create Flow Orchestration Instance Related Obj</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>flowOrchestratorInstanceRelatedObjectId</assignRecordIdToReference>
        <connector>
            <targetReference>WaitForCareBenefitVerifyRequestStatusChange</targetReference>
        </connector>
        <inputAssignments>
            <field>FlowOrchestrationInstanceId</field>
            <value>
                <elementReference>orchestratorInstanceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedObjectId</field>
            <value>
                <elementReference>careBenefitVerifyRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstRelaObj</object>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DoesFlowOrchInstanceRelatedObjectExist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Stores the text template that contains the message that’s displayed to the flow user when the patient’s insurance details are changed and a new benefits verification request should be created.</description>
        <name>InitiateNewVerificationRequestTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Terminated::Initiate a new verification request.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the text template that contains the message that’s displayed to the flow user when there are no changes to patient details and the care benefits verify request status should be marked as Completed.</description>
        <name>UpdateBenefitsRequestStatusAsCompletedTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Terminated::Mark the request as complete, or initiate benefits reverification.</text>
    </textTemplates>
    <textTemplates>
        <description>Stores the text template that contains the message that’s displayed to the flow user when the wait is timed out.</description>
        <name>WaitTimeoutErrorTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Failed::{!timeoutMessage}</text>
    </textTemplates>
    <variables>
        <description>Stores a boolean value that indicates whether the wait element was resumed. The default value is False. This value is available as output from the flow.</description>
        <name>canResumeEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the care benefit verify request ID that was passed into this flow.</description>
        <name>careBenefitVerifyRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the status of a care benefit verify request. This variable is available as an input to this flow.</description>
        <name>careBenefitVerifyRequestStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the flow orchestration instance related obj record created by the flow. This value is available as output from the flow.</description>
        <name>flowOrchestratorInstanceRelatedObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Flow Orchestration Instance and is passed into the flow.</description>
        <name>orchestratorInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the step number</description>
        <name>stepNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>timeoutMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <description>Pause the flow until there&apos;s a change in the status of a care benefit verify request status changed event record, or times out after 30 days from the interview start time.</description>
        <name>WaitForCareBenefitVerifyRequestStatusChange</name>
        <label>Wait for Care Benefit Verify Request Status Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other Care Benefit Verify Request ID Received (Default)</defaultConnectorLabel>
        <waitEvents>
            <name>InsuranceDetailsChanged</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>saveBenVerfLogsInsuranceDetailsChanged</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>InsuranceDetailsChangeDetectedInPatientAssessmentResponseEvent</elementReference>
                </value>
            </inputParameters>
            <label>Insurance Details Changed</label>
        </waitEvents>
        <waitEvents>
            <name>isMatchingCareBenefitVerifyRequestIdAndStatusReceived</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>SetResumeEventVariableSuccess</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>careBenefitVerifyRequestStatus</elementReference>
                </value>
            </inputParameters>
            <label>Matching Care Benefit Verify Request ID and Status Received</label>
        </waitEvents>
        <waitEvents>
            <name>NoChangesInPatientDetails</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>saveBenVerfLogsNoChangesInPatientDetails</targetReference>
            </connector>
            <eventType>CareBnftVrfyRqstStsChgEvent</eventType>
            <inputParameters>
                <name>RecordIdentifier</name>
                <value>
                    <elementReference>careBenefitVerifyRequestId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Status</name>
                <value>
                    <elementReference>NoChangesInPatientAssessmentResponseEvent</elementReference>
                </value>
            </inputParameters>
            <label>No Changes In Patient Details</label>
        </waitEvents>
        <waitEvents>
            <name>WaitTimesOut</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>saveBenVerfLogs</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>30.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>Wait Times Out</label>
        </waitEvents>
    </waits>
</Flow>
